.container {
    width: 1400px;
}
.top_background {
    margin-bottom: 90px;
}

.present-container {
    margin-top: 80px;
}

.top_background,
.bottom_background {
    background-color: #003c60;
    height: 30px;
    width:100%;
    padding-top: 4px;
}

.advice-date .date {
    padding: 10px 20px;
    font-size: 16px;
    color: #cecece;
    width: 180px;
    margin-left: 12px;
    background-color: #585858;
}

.bottom_background {
    position: absolute;
    bottom: 0;
}
.bottom_background a,
.bottom_background div a {
    margin-left: 20px;
    padding-top: 5px;
    color: #fff;
    cursor:pointer;
}

.financehouse-dropdown{
    width: 92%;
}

.labels {
    font-size: 16px;
    padding: 15px 0 8px 0;
    font-weight: bold;
    color: #4F5155;
}

.input-background {
    background: #003c60;
    padding: 1px;
    width: 100%;
}

.input-background .form-control {
    padding: 22px;
    height:28px;
    width: 96%;
    margin: 8px 2%;
    border-radius: 3px;
    background-color: #E4F1FE;
}

.start-advice-background{
    background-color: #003c60;
    height: 80px;
    margin: 0;
    padding: 0;
    width: 80%;
}

.meeting-cancel{
    height: 80px;
    margin: 0;
    padding: 0;
    width: 20%;
}

.input-background .form-control:focus {
    background-color: #fff;
}

.notice .notice-input {
    width: 100%;
    height: 400px;
    padding: 30px;
    font-size: 24px;
    border: 1px solid #337ab7;
    resize: none;
}

.notice .notice-input:focus {
    background: #fff;
}

.page-arrows {
    background-color: rgba(12,12,1,0.3);
    width: 150px;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 40px;
    left: 45%;
}
.page-arrows a {
    color: #f2f2f2;
}

.page-arrows i:hover{
    cursor: pointer;
    color: #fff;
}
/* VAR PRESENTATION */
.thumb-shadow {
    cursor: pointer;
    padding-top: 15px;
    border:none;
}

.thumb-shadow img {
    height: 200px;
}
.thumb-shadow .caption a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 5px;
    font-size: 20px;
    line-height: 1.17647059;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin-right:15px ;
}

.max-width{
    width: 100%;
}

.thumb-shadow .caption a:hover {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
.thumb-shadow:hover {
    -webkit-box-shadow: 10px 6px 37px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 37px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 37px -9px rgba(0,0,0,0.75);
}

.caption h3 {

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 5px;
    font-size: 20px;
    line-height: 1.17647059;
    text-transform: uppercase;
    text-align: center;
}

a:hover{
    text-decoration: none;
}

.update_noti {
    border-radius: 5px;
    border:1px solid #CCC;
    padding: 5px;
    margin-top: 150px;
}
.update_noti .alert-success {
    padding: 5px;
    overflow: hidden;
}

.noti-date {
    padding: 3px;
    margin-right: 10px;
    font-size: 11px;
}
.showupdate {
    cursor: pointer;
}
/* PARTNER PAGE */
.partner-img {
    margin-top: 1px;
    width: 100%;
}

/*  FINANCE HOUSE */
.pdf-container {
    position: fixed;
    top: 40px;
    right:5px;
}

.pdf-container div{
    width: 100px;
    margin-bottom: 5px;
}

.pdf-container div i{
    display: inline-block;

}

.pdf-container div span{
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #444;
}

.fa-file-pdf-o {
    color: red;
}

.house-triangle {
    border-color:transparent transparent #003c60 transparent;
    border-style: solid;
    border-width: 40px 495px 248px 495px;
    height: 0px;
    width: 100%;
    position: relative;
}
.house-triangle .input-sum {
    background: transparent;
    font-size: 22px;
}
.house-box {
    background-color: #003c60;
    width: 80%;
    height: 200px;
    margin: 20px auto 0;
}
.house-box:nth-child(2) {
    height: 260px;
}
.triangle-group input{
    background-color: #E4F1FE;
    border: none;
    padding: 5px;
    color:  #818a91;
    font-weight: bold;
}
.house-triangle input:focus {
    background-color: #fff;
}
.triangle-group {
    position: absolute;
}
.triangle-group:first-of-type {
    top: 170px;
    left: 100px;
}
.triangle-group:nth-child(2) {
    top: 170px;
    left: -230px;
}
.triangle-group:nth-child(3) {
    top: 85px;
    left: -50px;
}
.triangle-group .show-result {
    border-radius: 50px;
    padding: 30px;
    font-size: 18px;
    font-weight: bold;
}
/*
.triangle-group:nth-child(4) {
    top: 180px;
    left: -340px;
}
.triangle-group:nth-child(5) {
    top: 180px;
    left: -120px;
}
.triangle-group:nth-child(6) {
    top: 180px;
    left: 100px;
}
*/
.prio-box-house {
    width: 60%;
    background-color: #003c60;
    height: 480px;
    margin-top: 310px;
}
.triangle-group .house-label{
text-transform: uppercase;
color: #fff;
margin:0 30px;
display: block;
}
.triangle-group .house-label a{
    color: #fff;
    cursor: pointer;
}
.bearter-box {
    width: 270px;
    background: #E4F1FE;
    margin: 20px auto;

}
.bearter-name {
    padding-bottom: 10px;
    padding-top: 10px;
}
.bearter-phone {
    font-size: 18px;
}

.house-box .box-inputs .box-group {
    margin-top: 20px;
}
.house-box .house-label {
    text-transform: uppercase;
    color: #fff;
    display: block;
}
.house-box .house-label a {
    color: #fff;
    cursor: pointer;
}
.house-box input {
    padding: 8px;
    color:  #818a91;
    font-weight: bold;
    background-color: #E4F1FE;
    border: none;
}
.house-box input:focus {
    background-color: #fff;
}
.house-box .box-group {
    margin-top: 20px;
}

.prio-box-house .prio-input {
    padding: 8px;
    width: 96%;
    margin: 15px 2% 0px;
}

.prio-box-house p{
    color: #fff;
    margin: 10px;
}
.prio-box-house p:first-of-type{
    margin-top: 20px;
}
.prio-box-house .notice-text{
    font-size: 13px;
    padding: 5px;
    font-style: italic;
}
.submit-house {
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 10px;
}

.house-box .refresh-btn {
    background-color: #337ab7;
    padding: 15px;
    border: none;
    color: #fff;
    margin: 0px;
}
.house-box .refresh-btn:hover {
    color: #fdf7f7;
}

/* Moadl Box */
.modal .modal-labels p{
    font-weight: 600;
    margin-top: 20px;
}
.modal .outgoings{
    width:  100px;
    height: 35px;
    padding:5px;
    font-weight:bold;
    margin-top: 5px;
}

.electricity_outgoings{
    width:  100px;
    height: 35px;
    padding:5px;
    font-weight:bold;
    margin-top: 5px;
}

.hh-contracts .title{
    font-size: 22px;
}

.hh-contracts {
    font-size: 17px;
    font-weight: 500;
}

.haram-span {
    color: #8b211e;
}
.halal-span {
    color: #449d44;
}


/* GOAL MODAL */
.goal-box-1 h3 {
    color: #fff;
    margin: 0 0 10px 0;
}
.goal-box-1 .back-div {
    background: #3e5e9a;
    padding: 20px 10px;
    min-height: 100px;
}

.goal-box-1 .goal-input {
    display: inline;
    width: 100%;
}

.goal-box-1 #input_income_goal,
.goal-box-1 #input_outgoing_goal,
.goal-box-1 #input_sum_goal {
    text-align: right;
    padding-right: 8px;
}

.goal-box-1 .goal-span {
    color:#fff;
    font-size: 18px
}




/*  ----------------- MENUS --------------------- */


#takaful_menu  h1 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -10px;
}

#takaful_menu  a {
    text-decoration: none;
}

#takaful_menu  #btn1 {
    top: 350px;
}

#takaful_menu  #btn2 {
    top: 450px;
}

#takaful_menu  #btn3 {
    top: 550px;
}

#takaful_menu  #btn4 {
    top: 650px;
}

#takaful_menu #btn_pdf {
    top: 50px;
}

#takaful_menu span {
    color : #FFF;
    position: absolute;
    top: 15px;
    right:20px;
}

#takaful_menu  div.button {
    background-color: #003c60 ;
    color: #2c3e50;
    border: none;
    border-radius: 30px;
    width: 400px;
    height: 60px;
    position: fixed;
    left: -335px;
    transition: .7s ease;
}

#takaful_menu  div.button:hover {
    background-color: #ffffff;
    position: fixed;
    left: -50px;
    width: 435px;
    border-radius: 0px;
    box-shadow: 0px 5px 0px #337ab7;
}

#takaful_menu  div.button:active {
    background-color: #2c3e50;
    transition: 0s;
    color: #ecf0f1;
}


#takaful_menu .anchors-container {
    top: 20px;
    left:80px;
    color:#003c60;
    position: relative;
}

#takaful_menu .anchors-container a {
    margin-left: 10px;
    font-family:Georgia,serif;
    color:#003c60;
    font-variant: small-caps;
    text-transform: none;
    font-weight: bold;
    display: none;
    font-size: 16px;
}

#takaful_menu .button:hover  .anchors-container a{
    display: inline-block;

}

.begin_consultation{
    width: 100%; 
    height: 100%;
    background-color: #003c60;
    border-radius: 0;
}

.cancel_consultation{
    width: 100%; 
    height: 100%;
    border-radius: 0;
}
/* Change Modal Background */
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0.8;
}

.finish-modal{
    background-color: #fff;
}

h3, h4{
    color: rgb(129,188,234);
}

.scrollable-modal{
    overflow: auto;
    height: 90%;
}

.question-label{
    margin: 7px 10px 0 5px;
}

.one-to-ten{
    padding-right: 5px;
}

.ten-fields-notes{
    margin-top: 15px;
}

.task-modal{
    width: 1200px;
}

#question_catalog #first, #question_catalog #second{
    font-size: 12px;
    font-style: italic;
    color: #80bae9;
}

#question_catalog .borderless tr:nth-child(1) td {
    border: none !important;
}

#question_catalog .table-vert tr td:nth-child(1) {
    vertical-align: middle !important;
}

#question_catalog .rate-amount {
    display: inline-block;
    width: 150px;
    margin-right: 15px;
}

#question_catalog .rate-span {
    float: right;
    margin-right: 10px;
}

#question_catalog .monthly-rates {
    font-size: 15px;
    font-weight: 600;
    color: #8e8e8e;
}

#question_catalog input[type=radio], #question_catalog input[type=checkbox] {
    display: none;
}

#question_catalog input[type=radio] + label, #question_catalog input[type=checkbox] + label {
    display: inline-block;
    background-color: white;
    color: #4d4d4d;
    padding: .5em 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    margin-right: 15px;
    cursor: pointer;
}

#question_catalog input[type=radio]:first-child + label{
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
    margin-right: 15px;
}

#question_catalog input[type=radio]:last-of-type + label{
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
    margin-right:0px;
}

#question_catalog input[type=radio]:checked + label, input[type=checkbox]:checked +label{
    background-color: #80bae9;
    border-color: #07315B;
    color: #fff;
    margin-right: 15px;
}

#select_advice_type{
    margin-top: 10%;
}

.anthrazit{
    color: #666666 !important;
}

.advice_summary_h5{
	color: #013960;
	font-weight: bold;
	font-size: 13px;
}
