/* Booking Details */

.h2h_table_container{
    text-align:center;
    color:#666;
    font-family: 'Open Sans', sans-serif;
}
.h2h_table_heading{
    font-size:22px;
    padding:3px;
    background:#EEE;
    margin: 0;
}
.h2h_table_heading p{
    margin: 0;
}
.h2h_table_heading small{
    font-size:11px;
}
.h2h_table_row {
    padding:15px;
    background: #FFF;
    text-align: left;
}
.h2h_table_row .answer-booking{
    color: #337AB7;
    font-size: 16px;
    float: right;
}
.cost{
    padding:20px;
    font-size:30px;
    text-align: center;
}
.cost span{
    font-size:15px;
}
.h2h_table_container .fa-plus {
    margin-left: 10px;
}
.h2h_table_row:nth-of-type(even) {
    background: #F8F8F8;
}
.btn{
    border-radius:0px;
}

.spacer{width:100%;height:50px;}

.primary-bg{background:#337AB7;color:#FFF;}

