/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page coming soon
 *	--------------------------------------------------------
*/
html,
body {
  min-height: 100%;
}
body {
  padding-bottom: 30px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #fefefe 8%, #fcfcfc 15%, #fbfbfb 22%, #f9f9f9 31%, #f6f6f6 41%, #f3f3f3 49%, #f2f2f2 57%, #f0f0f0 66%, #eeeeee 74%, #ebebeb 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #fefefe 8%, #fcfcfc 15%, #fbfbfb 22%, #f9f9f9 31%, #f6f6f6 41%, #f3f3f3 49%, #f2f2f2 57%, #f0f0f0 66%, #eeeeee 74%, #ebebeb 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #fefefe 8%, #fcfcfc 15%, #fbfbfb 22%, #f9f9f9 31%, #f6f6f6 41%, #f3f3f3 49%, #f2f2f2 57%, #f0f0f0 66%, #eeeeee 74%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0);
}
.coming-soon-wrapper {
  max-width: 650px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #999;
  text-align: center;
}
.coming-soon-wrapper .coming-soon-heading {
  position: relative;
  font-size: 60px;
}
.coming-soon-wrapper .coming-soon-heading:after {
  content: "";
  display: block;
  width: 43px;
  height: 3px;
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
  background-color: #999;
}
.coming-soon-wrapper .coming-soon-description {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
}
.coming-soon-wrapper .panel {
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eee)) no-repeat;
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: -o-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: -ms-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: linear-gradient(to bottom, #fdfdfd 0%, #eee 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eee', GradientType=0);
  border-radius: 6px;
}
.coming-soon-wrapper .panel,
.coming-soon-wrapper .panel-heading {
  border-color: #dedede;
}
.coming-soon-wrapper .panel-heading {
  font-size: 18px;
}
.coming-soon-wrapper .panel-body {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 60px;
}
.coming-soon-wrapper form .input-group {
  width: 100%;
}
.coming-soon-wrapper form .input-group .form-control,
.coming-soon-wrapper form .input-group .input-group-btn .btn {
  border-color: #dedede;
  height: 40px;
}
.coming-soon-wrapper form .input-group .input-group-btn {
  width: 170px;
}
.coming-soon-wrapper form .input-group .input-group-btn .btn {
  width: 100%;
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eee)) no-repeat;
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: -o-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: -ms-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: linear-gradient(to bottom, #fdfdfd 0%, #eee 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eee', GradientType=0);
  color: #999;
}
.coming-soon-wrapper form .input-group .input-group-btn .btn:hover,
.coming-soon-wrapper form .input-group .input-group-btn .btn:focus {
  background: #f8f8f8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e9e9e9 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e9e9e9)) no-repeat;
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e9e9e9 100%) no-repeat;
  background: -o-linear-gradient(top, #f8f8f8 0%, #e9e9e9 100%) no-repeat;
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e9e9e9 100%) no-repeat;
  background: linear-gradient(to bottom, #f8f8f8 0%, #e9e9e9 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e9e9e9', GradientType=0);
}
