/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page register 2
 *	--------------------------------------------------------
*/
body {
  background: url(../img/login-bg-blur.jpg) no-repeat;
  background-size: cover;
}
.register-wrapper {
  max-width: 360px;
  margin: 80px auto;
}
.register-wrapper .panel {
  margin-top: 25px;
  border-color: #e2e2e2;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 3px 0 #B6BCBF;
  -webkit-box-shadow: 0 1px 3px 0 #B6BCBF;
}
.register-wrapper .panel-body {
  padding: 25px 30px 40px;
}
.register-wrapper .panel-body h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}
.register-wrapper .panel-body form .form-title {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.register-wrapper .panel-body form .form-title:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #e2e2e2;
}
.register-wrapper .panel-body form .form-title span {
  position: relative;
  padding: 4px 15px;
  border: 1px solid #e2e2e2;
  border-radius: 25px;
  background-color: #fff;
}
.register-wrapper .panel-body form .form-control {
  box-shadow: inset 0px 1px 2px 0px #EFEFEF;
  -webkit-box-shadow: inset 0px 1px 2px 0px #EFEFEF;
}
.register-wrapper .panel-body form .btn {
  margin-top: 40px;
  font-weight: 600;
}
.register-wrapper .panel-footer {
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #e2e2e2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: transparent;
}
.register-wrapper .panel-footer a {
  color: #42A5F5;
}
