/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page register 1
 *	--------------------------------------------------------
*/
html,
body {
  min-height: 100%;
}
body {
  background: #FFF;
  background: -moz-linear-gradient(top, #FFF 0%, #F9F9F9 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #F9F9F9)) no-repeat;
  background: -webkit-linear-gradient(top, #FFF 0%, #F9F9F9 100%) no-repeat;
  background: -o-linear-gradient(top, #FFF 0%, #F9F9F9 100%) no-repeat;
  background: -ms-linear-gradient(top, #FFF 0%, #F9F9F9 100%) no-repeat;
  background: linear-gradient(to bottom, #FFF 0%, #F9F9F9 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#F9F9F9', GradientType=0);
}
.register-wrapper {
  max-width: 360px;
  margin: 80px auto;
}
.register-wrapper .panel {
  margin-top: 25px;
  border-color: #e2e2e2;
  border-radius: 6px;
}
.register-wrapper .panel-body {
  padding: 25px 30px 40px;
}
.register-wrapper .panel-body h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}
.register-wrapper .panel-body form .form-title {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.register-wrapper .panel-body form .form-title:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #e2e2e2;
}
.register-wrapper .panel-body form .form-title span {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}
.register-wrapper .panel-body form .form-control {
  box-shadow: inset 0px 1px 2px 0px #EFEFEF;
  -webkit-box-shadow: inset 0px 1px 2px 0px #EFEFEF;
}
.register-wrapper .panel-body form .btn {
  margin-top: 40px;
  font-weight: 600;
}
.register-wrapper .panel-footer {
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #e2e2e2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #FFF;
  background: -moz-linear-gradient(top, #FFF 0%, #F4F4F4 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #F4F4F4)) no-repeat;
  background: -webkit-linear-gradient(top, #FFF 0%, #F4F4F4 100%) no-repeat;
  background: -o-linear-gradient(top, #FFF 0%, #F4F4F4 100%) no-repeat;
  background: -ms-linear-gradient(top, #FFF 0%, #F4F4F4 100%) no-repeat;
  background: linear-gradient(to bottom, #FFF 0%, #F4F4F4 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#F4F4F4', GradientType=0);
}
.register-wrapper .panel-footer a {
  color: #42A5F5;
}
