/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Panel / .panel
 *	2.	Row Chart / .row-chart
 *	3.	Row Cards / .row-card
 *	4.	Panel Activity Monitor / .panel-activity-monitor
 *	5.	Panel Tasks / .panel-tasks
 *	6.	Panel Feed / .panel-feed
 *	7.	Panel Tasks Comments / .panel-tasks-comments
 *	8.	Panel Map / .panel-map
 *	9.	Panel Chart Users / .panel-chart-users
 *	10.	Panel Other Stats / .panel-other-stats
 *	11.	Panel Visitors Activity / .panel-visitors-activity
 *	12.	Panel Events / .panel-events
 *	13.	Panel Lead Staff / .panel-lead-staff
 *	--------------------------------------------------------
*/
body.page-dashboard .content .panel {
  /*
		 *	--------------------------------------------------------
		 *	1.	Panel / .panel
		 *	--------------------------------------------------------
		*/
  margin-bottom: 30px;
}
body.page-dashboard .content .panel-body .row-filter {
  /* Row filter is top section of .panel-body which includes button dropdown and search */
  margin-bottom: 15px;
}
body.page-dashboard .content .panel-body .row-filter .col-item-search {
  text-align: right;
}
body.page-dashboard .content .panel-placeholder {
  /* Jquery UI placeholder */
  border: 2px dashed #ddd;
}
body.page-dashboard .content .panel-footer {
  text-align: right;
  background-color: transparent;
}
body.page-dashboard .content .panel-footer .fa {
  margin-left: 5px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  body.page-dashboard .content .table-responsive {
    border: none;
  }
}
@media (max-width: 991px) {
  body.page-dashboard .content .dataTables_filter {
    /* Datatables*/
    text-align: right;
  }
}
body.page-dashboard .content .row-chart .chart-body {
  /*
		 *	--------------------------------------------------------
		 *	2.	Row Chart / .row-chart
		 *	--------------------------------------------------------
		*/
  height: 400px;
  margin-left: -25px;
  margin-right: -25px;
}
body.page-dashboard .content .row-chart .chart-body .c3-axis-x path,
body.page-dashboard .content .row-chart .chart-body .c3-axis-x line,
body.page-dashboard .content .row-chart .chart-body .c3-axis-y path,
body.page-dashboard .content .row-chart .chart-body .c3-axis-y line {
  stroke: transparent;
}
body.page-dashboard .content .row-chart .chart-body .c3-axis-x text {
  display: none !important;
}
body.page-dashboard .content .row-chart .chart-body .c3-ygrid {
  stroke: transparent;
  stroke-dasharray: none;
}
body.page-dashboard .content .row-chart .chart-body .c3-line {
  stroke-width: 4px;
}
body.page-dashboard .content .row-chart .chart-body .c3-grid .c3-xgrid-focus {
  stroke: #888;
}
body.page-dashboard .content .row-chart .chart-body .c3-target-data1 > .c3-shapes > path {
  opacity: 1 !important;
  stroke: transparent !important;
}
body.page-dashboard .content .row-chart .chart-body .c3-target-data2 > .c3-shapes > path {
  opacity: .8 !important;
  stroke: #fff !important;
}
body.page-dashboard .content .row-chart .chart-body .c3-target-data3 > .c3-shapes > path {
  opacity: .8 !important;
  stroke: #fff !important;
}
body.page-dashboard .content .row-card .col-item-card {
  /*
		 *	--------------------------------------------------------
		 *	3.	Row Cards / .row-card 
		 *	--------------------------------------------------------
		*/
  padding-left: 0;
  padding-right: 0;
  margin-top: -30px;
}
body.page-dashboard .content .row-card .col-item-card .panel {
  border: none;
}
body.page-dashboard .content .row-card .col-item-card .panel .panel-body {
  padding: 20px 40px;
  text-align: center;
  background-color: #F2F6F9;
}
body.page-dashboard .content .row-card .col-item-card .panel .panel-body .label {
  padding: 8px 15px;
  font-weight: 600;
  font-size: 13px;
  color: #A4B1C1;
  border-color: #C2CDDB;
}
body.page-dashboard .content .row-card .col-item-card .panel .panel-body h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 28px;
  color: #5C6775;
}
body.page-dashboard .content .row-card .col-item-card .panel .panel-body .progress {
  height: 3px;
  background-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
}
body.page-dashboard .content .row-card .col-item-card .panel .panel-body i {
  font-size: 30px;
  color: #C2CDDB;
}
body.page-dashboard .content .row-card .col-item-card:nth-child(even) .panel-body {
  background-color: #E7EFF7;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	4.	Panel Activity Monitor / .panel-activity-monitor
		 *	--------------------------------------------------------
		*/
  max-height: 385px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 0;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-left .label {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-left .label i {
  vertical-align: middle;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-body,
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-right {
  vertical-align: middle;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .panel-tasks .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	5.	Panel Tasks / .panel-tasks
		 *	--------------------------------------------------------
		*/
  padding-bottom: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap {
  margin-top: -38px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:first-child,
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:first-child {
  width: 35px;
  min-width: 35px;
  padding-left: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:last-child,
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:last-child {
  width: 50px;
  padding-right: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td.details-control:before {
  margin-right: 0;
  position: relative;
  top: -1px;
  left: 32px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .icheckbox_minimal-grey {
  position: relative;
  left: -16px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .btn-group .btn {
  width: 25px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .table > tbody > tr > td:first-child {
  padding-left: 15px;
}
body.page-dashboard .content .panel-feed .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	6.	Panel Feed / .panel-feed
		 *	--------------------------------------------------------
		*/
  max-height: 415px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-feed .media-wrapper .media {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-left .media-object {
  width: 40px;
  height: 40px;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-body p {
  margin-bottom: 2px;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-body p .label {
  margin-top: -2px;
  margin-left: 7px;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-body i {
  color: #999;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	7.	Panel Tasks Comments / .panel-tasks-comments
		 *	--------------------------------------------------------
		*/
  max-height: 415px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  border-top: 1px solid #eceded;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media-object {
  width: 37px;
  height: 37px;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media-body p {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media-body p i {
  color: #49A9D9;
  text-decoration: underline;
  cursor: default;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media {
  /* img width + 10px padding of .media-left */
  margin-right: -42px;
}
body.page-dashboard .content .panel-map .panel-body .map-heading {
  /*
		 *	--------------------------------------------------------
		 *	8.	Panel Map / .panel-map
		 *	--------------------------------------------------------
		*/
  color: #888;
}
body.page-dashboard .content .panel-map .panel-body .map-body {
  /* Map content */
  height: 350px;
  margin-top: 20px;
  margin-bottom: 15px;
}
body.page-dashboard .content .panel-map .panel-body .map-body .jqvmap-zoomin,
body.page-dashboard .content .panel-map .panel-body .map-body .jqvmap-zoomout {
  background-color: #676767;
}
body.page-dashboard .content .panel-map .panel-body .table {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-map .panel-body .table > thead > tr > th:first-child,
body.page-dashboard .content .panel-map .panel-body .table > tbody > tr > td:first-child {
  min-width: 100px;
  padding-left: 0;
}
body.page-dashboard .content .panel-map .panel-body .table > tbody > tr > td .flag {
  width: 24px;
  height: 16px;
  top: -2px;
  margin-right: 5px;
  background-size: cover;
}
body.page-dashboard .content .panel-chart-users .chart-body {
  /*
		 *	--------------------------------------------------------
		 *	9.	Panel Chart Users / .panel-chart-users
		 *	--------------------------------------------------------
		*/
  height: 200px;
  margin-top: 45px;
  margin-right: -15px;
}
body.page-dashboard .content .panel-chart-users .chart-body .flot-text .flot-x-axis {
  text-transform: uppercase;
}
body.page-dashboard .content .panel-chart-users .chart-body .legend table {
  margin-top: -60px;
}
body.page-dashboard .content .panel-chart-users .chart-body .legend table .legendLabel {
  font-size: 11px;
}
body.page-dashboard .content .panel-other-stats .chart-body {
  /*
		 *	--------------------------------------------------------
		 *	10.	Panel Other Stats / .panel-other-stats
		 *	--------------------------------------------------------
		*/
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1199px) {
  body.page-dashboard .content .panel-other-stats .chart-body {
    margin-left: -15px;
    margin-right: -15px;
  }
}
body.page-dashboard .content .panel-other-stats .chart-body .chart-title {
  height: 38px;
}
body.page-dashboard .content .panel-other-stats .chart-body .easy-pie-chart {
  display: block;
}
body.page-dashboard .content .panel-other-stats .chart-body .easy-pie-chart .percent {
  color: #ff5252;
}
@media (min-width: 768px) {
  body.page-dashboard .content .panel-visitors-activity .panel-body {
    /*
		 *	--------------------------------------------------------
		 *	11.	Panel Visitors Activity / .panel-visitors-activity
		 *	--------------------------------------------------------
		*/
    padding-top: 0;
  }
}
body.page-dashboard .content .panel-visitors-activity .panel-body .table > thead > tr > th:first-child,
body.page-dashboard .content .panel-visitors-activity .panel-body .table > tbody > tr > td:first-child {
  padding-left: 0;
}
body.page-dashboard .content .panel-visitors-activity .panel-body .table .media-left .label {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
body.page-dashboard .content .panel-visitors-activity .panel-body .table .media-body {
  width: auto;
  vertical-align: middle;
}
body.page-dashboard .content .panel-visitors-activity .panel-body .table .flag {
  width: 24px;
  height: 16px;
  background-size: cover;
}
body.page-dashboard .content .panel-events .dt-bootstrap {
  /*
		 *	--------------------------------------------------------
		 *	12.	Panel Events / .panel-events
		 *	--------------------------------------------------------
		*/
  margin-top: -35px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > thead > tr > th {
  border-bottom: none;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr:first-child > td {
  border-top: none;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td {
  position: relative;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td.details-control {
  padding-left: 32px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td.details-control:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td.details-control .block {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child {
  padding-right: 0;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .btn {
  float: right;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td {
  vertical-align: top;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td:last-child {
  padding-right: 15px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td .label {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr.shown + tr > td {
  /* When dropdown table is shown */
  padding-left: 0;
}
body.page-dashboard .content .panel-lead-staff .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	13.	Panel Lead Staff / .panel-lead-staff
		 *	--------------------------------------------------------
		*/
  padding-bottom: 0;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap {
  margin-top: -38px;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > thead > tr > th:first-child,
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td:first-child {
  padding-left: 0;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > thead > tr > th:last-child,
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td:last-child {
  padding-right: 0;
  text-align: right;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td .img-wrapper {
  display: table;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td .img-wrapper img {
  display: table-cell;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td .img-wrapper span {
  display: table-cell;
  vertical-align: middle;
}
