/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page lockscreen 2
 *	--------------------------------------------------------
*/
html,
body {
  min-height: 100%;
}
body {
  background-color: #4C6176;
  color: #f1f2f2;
}
.lockscreen-wrapper {
  max-width: 360px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
.lockscreen-wrapper .panel {
  border-color: #56697B;
  border-radius: 6px;
  background-color: #43586D;
}
.lockscreen-wrapper .panel-heading {
  font-weight: 600;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-color: #56697B;
}
.lockscreen-wrapper .panel-body p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}
.lockscreen-wrapper .panel-body form {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
}
.lockscreen-wrapper .panel-body form .form-control {
  color: #C5D1D7;
  border-color: #56697B;
  background-color: #4B5F72;
}
.lockscreen-wrapper .panel-body form .form-control::-moz-placeholder {
  color: #C5D1D7;
}
.lockscreen-wrapper .panel-body form .form-control:-ms-input-placeholder {
  color: #C5D1D7;
}
.lockscreen-wrapper .panel-body form .form-control::-webkit-input-placeholder {
  color: #C5D1D7;
}
.lockscreen-wrapper .panel-footer {
  padding-top: 12px;
  padding-bottom: 12px;
  border-top-color: #56697B;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: transparent;
}
.lockscreen-wrapper .panel-footer a {
  font-size: 13px;
  color: #f1f2f2;
}
