/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page login 3
 *	--------------------------------------------------------
*/
body {
  background: url(../img/login-bg_anwalt.jpg) fixed no-repeat 50% 70%;
  background-size: cover;
}
/* Forgot password modal */
.modal-dialog {
  max-width: 360px;
}
@media (max-width: 767px) {
  .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.modal-dialog .modal-content {
  border: 1px solid #D6D6D6;
  border-radius: 6px;
}
.modal-dialog .modal-content .modal-body {
  padding: 25px 30px 30px;
}
.modal-dialog .modal-content .modal-body h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
}
.modal-dialog .modal-content .modal-body form .form-control {
  margin-bottom: 25px;
  border-radius: 4px;
  box-shadow: inset 0px 1px 2px 0px #E2E2E2;
  -webkit-box-shadow: inset 0px 1px 2px 0px #E2E2E2;
}
.modal-dialog .modal-content .modal-body form .form-control::-moz-placeholder {
  color: #999;
}
.modal-dialog .modal-content .modal-body form .form-control:-ms-input-placeholder {
  color: #999;
}
.modal-dialog .modal-content .modal-body form .form-control::-webkit-input-placeholder {
  color: #999;
}
.modal-dialog .modal-content .modal-body form .btn-wrapper span {
  display: table-cell;
  width: 1%;
}
.modal-dialog .modal-content .modal-body form .btn-wrapper span:first-child {
  padding-right: 5px;
}
.login-wrapper {
  position: relative;
  max-width: 360px;
}
@media (max-width: 767px) {
  .login-wrapper {
    margin: 80px auto;
  }
}
@media (min-width: 768px) {
  .login-wrapper {
    width: 100%;
    float: right;
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
.login-wrapper .panel {
  margin-top: 25px;
  color: #f1f2f2;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.55);
}
.login-wrapper .panel-body {
  padding: 25px 30px 40px;
}
.login-wrapper .panel-body h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}
.login-wrapper .panel-body form .form-control {
  box-shadow: inset 0px 1px 2px 0px #EFEFEF;
  -webkit-box-shadow: inset 0px 1px 2px 0px #EFEFEF;
}
.login-wrapper .panel-body form .btn {
  margin-top: 15px;
  font-weight: 600;
}
.login-wrapper .panel-body .btn-group.divided {
  margin-top: 40px;
}
.login-wrapper .panel-body .btn-group.divided .btn {
  font-weight: 600;
  color: #fff;
  border: none;
}
@media (max-width: 480px) {
  .login-wrapper .panel-body .btn-group.divided .btn {
    font-size: 11px;
  }
  .login-wrapper .panel-body .btn-group.divided .btn:first-child {
    padding-right: 22px;
  }
  .login-wrapper .panel-body .btn-group.divided .btn:last-child {
    padding-left: 22px;
  }
}
.login-wrapper .panel-body .btn-group.divided .btn:first-child {
  background-color: #3B579D;
}
.login-wrapper .panel-body .btn-group.divided .btn:last-child {
  background-color: #2CAAE1;
}
.login-wrapper .panel-body .btn-group.divided .btn .fa {
  padding-left: 5px;
  font-size: 14px;
}
.login-wrapper .panel-body .btn-group.divided .divider {
  width: 22px;
  height: 22px;
  font-weight: 400;
  line-height: 19px;
}
@media (max-width: 480px) {
  .login-wrapper .panel-body .btn-group.divided .divider {
    width: 20px;
    height: 20px;
    line-height: 17px;
  }
}
.login-wrapper .panel-footer {
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}
.login-wrapper .panel-footer a {
  color: #f1f2f2;
}
