/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page error 1
 *	--------------------------------------------------------
*/
.error-wrapper {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .error-wrapper {
    margin-top: 150px;
  }
  .error-wrapper .error-item {
    display: table-cell;
    vertical-align: top;
  }
  .error-wrapper .error-item:first-child {
    padding-right: 60px;
    position: relative;
  }
  .error-wrapper .error-item:first-child:after {
    content: "";
    width: 1px;
    height: 123px;
    position: absolute;
    right: 30px;
    top: 37px;
    bottom: 0;
    background-color: #999;
  }
}
@media (max-width: 991px) {
  .error-wrapper .error-item:last-child {
    text-align: center;
  }
  .error-wrapper .error-item:last-child .btn {
    width: 100%;
  }
}
.error-wrapper h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 170px;
}
.error-wrapper h3 {
  margin-top: 33px;
  font-weight: 400;
}
.error-wrapper p {
  margin-top: 15px;
  margin-bottom: 15px;
}
