/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page profile
 *	--------------------------------------------------------
*/
/* Left part */
.profile-heading {
  padding-top: 30px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  color: #444;
  border: 1px solid #D6D6D6;
  background: #f6f6f6;
  background: -moz-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e8e8e8)) no-repeat;
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%) no-repeat;
  background: -o-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%) no-repeat;
  background: -ms-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%) no-repeat;
  background: linear-gradient(to bottom, #f6f6f6 0%, #e8e8e8 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e8e8e8', GradientType=0);
  box-shadow: 0 2px 3px #ddd;
  -webkit-box-shadow: 0 2px 3px #ddd;
}
.profile-heading img {
  max-width: 100%;
  border: 4px solid #d2d2d2;
}
.profile-heading .lead {
  font-weight: 600;
}
.profile-heading strong {
  position: relative;
}
.profile-heading strong:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #999;
}
.profile-heading address {
  line-height: 22px;
  margin-bottom: 0;
}
.profile-heading .btn-group {
  top: 20px;
  border: 1px solid #D6D6D6;
  border-radius: 25px;
  box-shadow: 0 2px 5px #ddd;
  -webkit-box-shadow: 0 2px 5px #ddd;
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eee)) no-repeat;
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: -o-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: -ms-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: linear-gradient(to bottom, #fdfdfd 0%, #eee 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eee', GradientType=0);
}
.profile-heading .btn-group .btn {
  padding: 4px 15px;
  margin-bottom: 0;
  color: #AFAFAF;
  background-color: transparent;
}
.profile-heading .btn-group .btn.active,
.profile-heading .btn-group .btn:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.profile-heading .btn-group .btn + .btn:not(:last-child):before,
.profile-heading .btn-group .btn + .btn:not(:last-child):after {
  content: "";
  width: 1px;
  height: 12px;
  position: absolute;
  top: 8px;
  background-color: #AFAFAF;
}
.profile-heading .btn-group .btn + .btn:not(:last-child):before {
  left: 0;
}
.profile-heading .btn-group .btn + .btn:not(:last-child):after {
  right: 0;
}
.profile-body {
  padding: 35px 15px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px #ddd;
  -webkit-box-shadow: 0 1px 3px #ddd;
}
.profile-body .lead {
  font-weight: 400;
  color: #81CAF8;
}
.profile-body li {
  margin-left: -15px;
  margin-right: -15px;
  padding: 7px 25px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
.profile-body li.active {
  background-color: #fcfcfc;
}
.profile-body li a {
  color: inherit;
}
.panel-body .row-filter {
  /* Row filter is top section of .panel-body which includes button dropdown and search */
  margin-bottom: 15px;
}
.panel-body .row-filter .col-item-search {
  text-align: right;
}
@media (max-width: 767px) {
  .table-responsive {
    border: none;
  }
}
/* Datatables*/
@media (max-width: 991px) {
  div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
  }
}
/* Task component */
.panel-tasks .panel-body {
  padding-bottom: 0;
}
.panel-tasks .panel-body .dt-bootstrap {
  margin-top: -38px;
}
.panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:first-child,
.panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:first-child {
  width: 35px;
  min-width: 35px;
  padding-left: 0;
}
.panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:last-child,
.panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:last-child {
  width: 50px;
  padding-right: 0;
}
.panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td.details-control:before {
  margin-right: 0;
  position: relative;
  top: -1px;
  left: 32px;
}
.panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .icheckbox_minimal-grey {
  position: relative;
  left: -16px;
}
.panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .btn-group .btn {
  width: 25px;
  margin-left: 0;
}
.panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .table > tbody > tr > td:first-child {
  padding-left: 15px;
}
/* Task comments component */
.panel-tasks-comments .media-wrapper {
  max-height: 415px;
  overflow-y: auto;
}
.panel-tasks-comments .media-wrapper > .media {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 0;
  border-top: 1px solid #eceded;
}
.panel-tasks-comments .media-wrapper > .media .media-object {
  width: 37px;
  height: 37px;
}
.panel-tasks-comments .media-wrapper > .media .media-body p {
  margin-bottom: 5px;
}
.panel-tasks-comments .media-wrapper > .media .media-body p i {
  color: #49A9D9;
  text-decoration: underline;
  cursor: default;
}
.panel-tasks-comments .media-wrapper > .media .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
.panel-tasks-comments .media-wrapper > .media .media {
  /* img width + 10px padding of .media-left */
  margin-right: -42px;
}
/* Activity list component */
.panel-activity-monitor .media-wrapper {
  max-height: 285px;
  overflow-y: auto;
}
.panel-activity-monitor .media-wrapper .media {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0;
  border-top: 1px solid #ECEDED;
}
.panel-activity-monitor .media-wrapper .media-left .label {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
.panel-activity-monitor .media-wrapper .media-left .label i {
  vertical-align: middle;
}
.panel-activity-monitor .media-wrapper .media-body {
  vertical-align: middle;
}
.panel-activity-monitor .media-wrapper .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
/* Chat component */
.panel-chat .panel-body .media-wrapper {
  max-height: 295px;
  overflow-y: auto;
}
.panel-chat .panel-body .media-wrapper .media + .media {
  margin-top: 20px;
}
.panel-chat .panel-body .media-wrapper .media .media-left {
  padding-top: 25px;
}
.panel-chat .panel-body .media-wrapper .media .media-body .time {
  font-size: 11px;
}
.panel-chat .panel-body .media-wrapper .media .media-body .message {
  margin-top: 8px;
  padding: 8px 10px 10px;
  border-radius: 4px;
}
.panel-chat .panel-body .media-wrapper .media .media-body .message strong {
  font-style: italic;
}
.panel-chat .panel-body .media-wrapper .media .media-body .message strong + p {
  margin-top: 8px;
}
.panel-chat .panel-body .media-wrapper .media .media-body .message p {
  margin-bottom: 0;
}
.panel-chat .panel-body .media-wrapper .media-incoming-message .message {
  border: 1px solid #EFEFF3;
  background-color: #F9F9FA;
}
.panel-chat .panel-body .media-wrapper .media-my-message .message {
  border: 1px solid #D8D8E3;
  background-color: #EFEFF8;
}
.panel-chat .panel-body form {
  margin: 10px -15px -15px;
  border-top: 1px solid #EEF0F0;
}
.panel-chat .panel-body form .form-control {
  font-size: 13px;
  border-top: none;
  border-right-color: #EEF0F0;
  border-bottom: none;
  border-left: none;
}
.panel-chat .panel-body form .form-control:focus {
  border-right-color: #EEF0F0;
}
/* Calendar */
.panel-calendar .fc-toolbar h2 {
  font-size: 15px;
}
/* Events */
.panel-events .dt-bootstrap {
  margin-top: -35px;
}
.panel-events .dt-bootstrap .table > thead > tr > th {
  border-bottom: none;
}
.panel-events .dt-bootstrap .table > tbody > tr {
  /* When dropdown table is shown */
}
.panel-events .dt-bootstrap .table > tbody > tr:first-child > td {
  border-top: none;
}
.panel-events .dt-bootstrap .table > tbody > tr > td {
  position: relative;
}
.panel-events .dt-bootstrap .table > tbody > tr > td.details-control {
  padding-left: 32px;
}
.panel-events .dt-bootstrap .table > tbody > tr > td.details-control:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.panel-events .dt-bootstrap .table > tbody > tr > td.details-control .block {
  margin-bottom: 5px;
}
.panel-events .dt-bootstrap .table > tbody > tr > td:last-child {
  padding-right: 0;
}
.panel-events .dt-bootstrap .table > tbody > tr > td:last-child .btn {
  float: right;
}
.panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td {
  vertical-align: top;
}
.panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td:last-child {
  padding-right: 15px;
}
.panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td .label {
  margin-bottom: 5px;
}
.panel-events .dt-bootstrap .table > tbody > tr.shown + tr > td {
  padding-left: 0;
}
