/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Panel / .panel
 *	2.	Panel Card / .panel-card
 *	3.	Panel Chart / .panel-chart
 *	4.	Panel Card Stat / .panel-card-stat
 *	5.	Panel Activity Monitor / .panel-activity-monitor
 *	6.	Panel Requests / .panel-requests
 *	7.	Panel Tasks / .panel-tasks
 *	8.	Panel Tasks Comments / .panel-tasks-comments
 *	9.	Panel Project / .panel-project
 *	10.	Panel Chart Users / .panel-chart-users
 *	11.	Panel Other Stats / .panel-other-stats
 *	12.	Panel Calendar / .panel-calendar
 *	13.	Panel Events / .panel-events
 *	--------------------------------------------------------
*/
body.page-dashboard .content .panel {
  /*
	 *	--------------------------------------------------------
	 *	1.	Panel / .panel
	 *	--------------------------------------------------------
	*/
  margin-bottom: 30px;
}
body.page-dashboard .content .panel-body .row-filter {
  /* Row filter is top section of .panel-body which includes button dropdown and search */
  margin-bottom: 15px;
}
body.page-dashboard .content .panel-body .row-filter .col-item-search {
  text-align: right;
}
body.page-dashboard .content .panel-placeholder {
  /* Jquery UI placeholder */
  border: 2px dashed #ddd;
}
body.page-dashboard .content .panel-footer {
  text-align: right;
  background-color: transparent;
}
body.page-dashboard .content .panel-footer .fa {
  margin-left: 5px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  body.page-dashboard .content .table-responsive {
    border: none;
  }
}
@media (max-width: 991px) {
  body.page-dashboard .content .dataTables_filter {
    /* Datatables*/
    text-align: right;
  }
}
body.page-dashboard .content .panel-card .panel-heading {
  /*
			 *	--------------------------------------------------------
			 *	2.	Panel Card / .panel-card
			 *	--------------------------------------------------------
			*/
  padding: 8px 25px;
  font-size: 14px;
}
body.page-dashboard .content .panel-card .panel-heading .panel-title {
  font-weight: 400;
  line-height: 1.7;
}
body.page-dashboard .content .panel-card .panel-heading .panel-title .label {
  float: right;
  font-weight: 600;
  font-size: 12px;
}
body.page-dashboard .content .panel-card .panel-body {
  padding: 12px 25px;
}
body.page-dashboard .content .panel-card .panel-body .col-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
body.page-dashboard .content .panel-card .panel-body .col-item + .col-item {
  text-align: right;
  border-left: 1px solid #ECEFEF;
}
body.page-dashboard .content .panel-card .panel-body .col-item strong {
  display: block;
  font-size: 20px;
}
body.page-dashboard .content .panel-card .panel-body .col-item span {
  font-size: 16px;
  color: #8B9698;
}
body.page-dashboard .content .panel-chart .panel-body .chart-heading {
  /*
		 *	--------------------------------------------------------
		 *	3.	Panel Chart / .panel-chart
		 *	--------------------------------------------------------
		*/
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .6px;
  color: #899799;
}
body.page-dashboard .content .panel-chart .panel-body .chart-heading .label {
  margin-left: 5px;
  font-weight: 600;
}
body.page-dashboard .content .panel-chart .panel-body .chart-body {
  /* Chart content */
  height: 200px;
  margin-top: 20px;
  margin-right: -15px;
  margin-bottom: 15px;
}
body.page-dashboard .content .panel-chart .panel-body .chart-body .flot-text .flot-x-axis {
  text-transform: uppercase;
}
body.page-dashboard .content .panel-chart .panel-footer {
  /* Chart footer with extra info about chart stats */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: .2px;
}
@media (max-width: 767px) {
  body.page-dashboard .content .panel-chart .panel-footer .col-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body.page-dashboard .content .panel-chart .panel-footer .col-item small {
  display: block;
  margin-bottom: 3px;
}
body.page-dashboard .content .panel-chart .panel-footer .col-item span {
  font-weight: 300;
}
@media (min-width: 480px) {
  body.page-dashboard .content .panel-chart .panel-footer .col-item span {
    font-size: 16px;
  }
}
body.page-dashboard .content .panel-card-stat .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	4.	Panel Card Stat / .panel-card-stat
		 *	--------------------------------------------------------
		*/
  padding-top: 15px;
}
body.page-dashboard .content .panel-card-stat .panel-body strong {
  font-weight: 700;
  font-size: 12px;
}
body.page-dashboard .content .panel-card-stat .panel-body h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	5.	Panel Activity Monitor / .panel-activity-monitor
		 *	--------------------------------------------------------
		*/
  max-height: 470px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 0;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-left .label {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-left .label i {
  vertical-align: middle;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-body,
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-right {
  vertical-align: middle;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .panel-requests .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	6.	Panel Requests / .panel-requests
		 *	--------------------------------------------------------
		*/
  max-height: 500px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-requests .media-wrapper .media {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  border-top: 1px solid #eceded;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-left {
  padding-right: 40px;
  vertical-align: middle;
  position: relative;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-left .media-object {
  width: 40px;
  height: 40px;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-left i {
  margin-top: -24px;
  position: absolute;
  right: 15px;
  font-size: 10px;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-body {
  vertical-align: middle;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-body p:last-child {
  margin-bottom: 0;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-body strong {
  margin-right: 7px;
}
@media (max-width: 1199px) {
  body.page-dashboard .content .panel-requests .media-wrapper .media-body .btn-group {
    margin-top: 15px;
  }
}
@media (min-width: 1200px) {
  body.page-dashboard .content .panel-requests .media-wrapper .media-body .btn-group {
    float: right;
  }
}
body.page-dashboard .content .panel-tasks .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	7.	Panel Tasks / .panel-tasks
		 *	--------------------------------------------------------
		*/
  padding-bottom: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap {
  margin-top: -38px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:first-child,
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:first-child {
  width: 35px;
  min-width: 35px;
  padding-left: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:last-child,
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:last-child {
  width: 50px;
  padding-right: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td.details-control:before {
  margin-right: 0;
  position: relative;
  top: -1px;
  left: 32px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .icheckbox_minimal-grey {
  position: relative;
  left: -16px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .btn-group .btn {
  width: 25px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .table > tbody > tr > td:first-child {
  padding-left: 15px;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	8.	Panel Tasks Comments / .panel-tasks-comments
		 *	--------------------------------------------------------
		*/
  max-height: 415px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  border-top: 1px solid #eceded;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media-object {
  width: 37px;
  height: 37px;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media-body p {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media-body p i {
  color: #49A9D9;
  text-decoration: underline;
  cursor: default;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media {
  /* img width + 10px padding of .media-left */
  margin-right: -42px;
}
body.page-dashboard .content .panel-project .panel-body .image-wrapper {
  /*
			 *	--------------------------------------------------------
			 *	9.	Panel Project / .panel-project
			 *	--------------------------------------------------------
			*/
  height: 200px;
  padding: 8px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
body.page-dashboard .content .panel-project .panel-body .image-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #42B3C2;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body.page-dashboard .content .panel-project .panel-body .image-wrapper.bg-image-1 {
  background-image: url('../img/project1.jpg');
}
body.page-dashboard .content .panel-project .panel-body .image-wrapper.bg-image-2 {
  background-image: url('../img/project2.jpg');
}
body.page-dashboard .content .panel-project .panel-body .image-wrapper.bg-image-3 {
  background-image: url('../img/project3.jpg');
}
body.page-dashboard .content .panel-project .panel-body .image-wrapper.bg-image-4 {
  background-image: url('../img/project4.jpg');
}
body.page-dashboard .content .panel-project .panel-body .image-wrapper strong {
  display: inline-block;
  padding: 5px 10px;
  font-size: 11px;
  color: #fff;
  background-color: rgba(89, 100, 101, 0.9);
}
body.page-dashboard .content .panel-project .panel-body .image-wrapper .btn-wrapper {
  opacity: 0;
  position: absolute;
  top: 85px;
  right: 0;
  left: 0;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body.page-dashboard .content .panel-project .panel-body .image-wrapper:hover:before {
  opacity: .2;
}
body.page-dashboard .content .panel-project .panel-body .image-wrapper:hover .btn-wrapper {
  opacity: 1;
}
body.page-dashboard .content .panel-project .panel-body .row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}
body.page-dashboard .content .panel-project .panel-body .row .col-item {
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  border: 1px solid #f1f2f2;
}
body.page-dashboard .content .panel-project .panel-body .row .col-item + .col-item {
  border-left-color: transparent;
}
body.page-dashboard .content .panel-project .panel-body .row .col-item strong,
body.page-dashboard .content .panel-project .panel-body .row .col-item span {
  display: block;
}
body.page-dashboard .content .panel-project .panel-body .row .col-item strong {
  color: #00bcd4;
  margin-bottom: 1px;
}
body.page-dashboard .content .panel-chart-users .chart-body {
  /*
		 *	--------------------------------------------------------
		 *	10.	Panel Chart Users / .panel-chart-users
		 *	--------------------------------------------------------
		*/
  height: 200px;
  margin-top: 45px;
  margin-right: -15px;
}
body.page-dashboard .content .panel-chart-users .chart-body .flot-text .flot-x-axis {
  text-transform: uppercase;
}
body.page-dashboard .content .panel-chart-users .chart-body .legend table {
  margin-top: -60px;
}
body.page-dashboard .content .panel-chart-users .chart-body .legend table .legendLabel {
  font-size: 11px;
}
body.page-dashboard .content .panel-other-stats .chart-body {
  /*
		 *	--------------------------------------------------------
		 *	11.	Panel Other Stats / .panel-other-stats
		 *	--------------------------------------------------------
		*/
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1199px) {
  body.page-dashboard .content .panel-other-stats .chart-body {
    margin-left: -15px;
    margin-right: -15px;
  }
}
body.page-dashboard .content .panel-other-stats .chart-body .chart-title {
  height: 38px;
}
body.page-dashboard .content .panel-other-stats .chart-body .easy-pie-chart {
  display: block;
}
body.page-dashboard .content .panel-other-stats .chart-body .easy-pie-chart .percent {
  color: #ff5252;
}
body.page-dashboard .content .panel-calendar .fc-toolbar h2 {
  /*
		 *	--------------------------------------------------------
		 *	12.	Panel Calendar / .panel-calendar
		 *	--------------------------------------------------------
		*/
  font-size: 15px;
}
body.page-dashboard .content .panel-events .dt-bootstrap {
  /*
		 *	--------------------------------------------------------
		 *	13.	Panel Events / .panel-events
		 *	--------------------------------------------------------
		*/
  margin-top: -35px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > thead > tr > th {
  border-bottom: none;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr:first-child > td {
  border-top: none;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td {
  position: relative;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td.details-control {
  padding-left: 32px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td.details-control:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td.details-control .block {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child {
  padding-right: 0;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .btn {
  float: right;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td {
  vertical-align: top;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td:last-child {
  padding-right: 15px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td .label {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr.shown + tr > td {
  /* When dropdown table is shown */
  padding-left: 0;
}
