/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Body
 *	2.	Content / .content
 *	3.	Navbar / .navbar-top
 *	4.	Sidebar / .sidebar
 *	5.	Footer / .footer
 *	--------------------------------------------------------
*/
/*	
 *	--------------------------------------------------------
 *	1.	Body
 *	--------------------------------------------------------
*/
body {
  background-color: #2d383e;
}
body.bg-grey .content {
  background-color: #f5f5f6;
}
body.page-boxed {
  /* Boxed page */
  background-image: url("../img/boxed-bg-teal.png");
}
body.page-boxed .content-wrapper {
  background-color: #2d383e;
}
@media (min-width: 992px) {
  body.page-boxed .content-wrapper .sidebar {
    border-left-color: #364147;
  }
}
/*	
 *	--------------------------------------------------------
 *	2.	Content / .content
 *	--------------------------------------------------------
*/
.content {
  background-color: #fff;
}
.content .breadcrumb-wrapper {
  border-bottom-color: #e9ebeb;
  background-color: #fafbfb;
}
/*	
 *	--------------------------------------------------------
 *	3.	Navbar / .navbar-top
 *	--------------------------------------------------------
*/
.navbar-top {
  background-color: #47cfe5;
}
.navbar-top .navbar-header .sidebar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-top .navbar-form .input-group-btn > .btn {
  color: #fff;
  border-color: transparent;
  background-color: transparent;
}
.navbar-top .navbar-form .form-control {
  color: #fff;
  border-color: transparent transparent transparent transparent;
  background-color: transparent;
}
.navbar-top .navbar-form .form-control::-moz-placeholder {
  color: #fff;
}
.navbar-top .navbar-form .form-control:-ms-input-placeholder {
  color: #fff;
}
.navbar-top .navbar-form .form-control::-webkit-input-placeholder {
  color: #fff;
}
@media (max-width: 767px) {
  .navbar-top .navbar-form .form-control {
    color: #606060;
    border-color: transparent;
    background-color: #fff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.11);
  }
  .navbar-top .navbar-form .form-control::-moz-placeholder {
    color: #606060;
  }
  .navbar-top .navbar-form .form-control:-ms-input-placeholder {
    color: #606060;
  }
  .navbar-top .navbar-form .form-control::-webkit-input-placeholder {
    color: #606060;
  }
}
.navbar-top .navbar-nav > li > a {
  color: #fff;
}
.navbar-top .navbar-nav > li > a .label {
  color: #fff;
  background-color: #ff5252;
}
.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > li > a:focus {
  background-color: #21c6e2;
}
.navbar-top .navbar-nav > .open > a,
.navbar-top .navbar-nav > .open > a:hover,
.navbar-top .navbar-nav > .open > a:focus {
  background-color: #21c6e2;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a {
  color: #474747;
  border-bottom-color: #e9e9e9;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a:hover,
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a:focus {
  background-color: #f6f7f7;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-notifications .media-body i {
  color: #999;
}
.navbar-top .navbar-nav .dropdown-menu-profile .media {
  border-bottom-color: #f1f2f2;
}
.navbar-top .navbar-nav .dropdown-menu-profile .divider {
  background-color: #f1f2f2;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller {
  color: #616161;
  border-left-color: #f1f2f2;
  background-color: #fff;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > li > a {
  color: #474747;
  border-color: #ddd;
  background-color: #f9f9f9;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > .active > a,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > .active > a:hover,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > .active > a:focus {
  background-color: #eee;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a {
  color: #616161;
  border-bottom-color: #eee;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a:hover,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a:hover,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a:focus,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a:focus {
  background-color: #f9f9f9;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a .media-right,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a .media-right {
  color: #999;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a .text-highlight {
  color: #47cfe5;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .text-ellipsis {
  color: #363636;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-settings .list-sidebar-extra > li {
  border-bottom-color: #eee;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-settings .list-sidebar-extra > li:hover {
  background-color: #f9f9f9;
}
.navbar-top .navbar-h > li > a {
  color: #fff;
}
.navbar-top .navbar-h > li > a:hover,
.navbar-top .navbar-h > li > a:focus {
  color: #fff;
  background-color: #21c6e2;
}
.navbar-top .navbar-h > .active > a,
.navbar-top .navbar-h > .open > a,
.navbar-top .navbar-h > .active > a:hover,
.navbar-top .navbar-h > .open > a:hover,
.navbar-top .navbar-h > .active > a:focus,
.navbar-top .navbar-h > .open > a:focus {
  color: #fff;
  background-color: #21c6e2;
}
.navbar-top .navbar-h .dropdown-menu .dropdown-header {
  color: #8B9AA8;
  background-color: transparent;
}
.navbar-top .navbar-h .dropdown-menu li > a {
  color: #526272;
}
.navbar-top .navbar-h .dropdown-menu li > a:hover {
  background-color: #f9f9f9;
}
.navbar-top .navbar-h .dropdown-lg .dropdown-menu .dropdown-menu-item + .dropdown-menu-item {
  border-left-color: #EFF1F3;
}
/*	
 *	--------------------------------------------------------
 *	4.	Sidebar / .sidebar
 *	--------------------------------------------------------
*/
.sidebar .sidebar-nav > .title {
  color: #899399;
}
.sidebar .sidebar-nav > li > a {
  color: #c7cccf;
  border-bottom-color: #364147;
}
.sidebar .sidebar-nav > li > a:hover,
.sidebar .sidebar-nav > li > a:focus {
  background-color: #273137;
}
.sidebar .sidebar-nav > .active > a,
.sidebar .sidebar-nav > .active > a:hover,
.sidebar .sidebar-nav > .active > a:focus {
  /* Active link item */
  color: #fff;
  background-color: #273137;
}
.sidebar .sidebar-nav > .active > a .fa,
.sidebar .sidebar-nav > .active > a:after {
  color: inherit;
}
.sidebar .sidebar-nav .inner-nav > li > a {
  color: #c7cccf;
}
.sidebar .sidebar-nav .inner-nav > li > a:hover,
.sidebar .sidebar-nav .inner-nav > li > a:focus {
  background-color: #273137;
}
.sidebar .sidebar-nav .inner-nav > .active > a,
.sidebar .sidebar-nav .inner-nav > .active > a:hover,
.sidebar .sidebar-nav .inner-nav > .active > a:focus {
  /* Active link item */
  background-color: #273137;
}
.sidebar-nav-h .dropdown-header {
  color: #899399;
}
.sidebar-nav-h .dropdown-lg .dropdown-menu-item > li > a {
  color: #c7cccf;
}
.sidebar-nav-h .dropdown-lg .dropdown-menu-item > li > a:hover,
.sidebar-nav-h .dropdown-lg .dropdown-menu-item > li > a:focus {
  background-color: #273137;
}
.sidebar-fixed .sidebar-fixed-scroller {
  /* Safari */
  background-color: #2d383e;
}
.sidebar .sidebar-search form .form-control {
  color: #c7cccf;
  border-color: #344555 transparent #344555 #344555;
  background-color: #37444b;
}
.sidebar .sidebar-search form .form-control::-moz-placeholder {
  color: #c7cccf;
}
.sidebar .sidebar-search form .form-control:-ms-input-placeholder {
  color: #c7cccf;
}
.sidebar .sidebar-search form .form-control::-webkit-input-placeholder {
  color: #c7cccf;
}
.sidebar .sidebar-search form .form-control:focus,
.sidebar .sidebar-search form .form-control:focus + .input-group-btn > .btn {
  color: #ccd1d4;
  background-color: #3b4951;
}
.sidebar .sidebar-search form .input-group-btn > .btn {
  color: #c7cccf;
  border-color: #344555;
  background-color: #37444b;
}
body.has-sidebar-sm .sidebar .sidebar-search a {
  color: #c7cccf;
  border-bottom-color: #364147;
}
body.has-sidebar-sm .sidebar .sidebar-search a:hover,
body.has-sidebar-sm .sidebar .sidebar-search a:focus {
  background-color: #273137;
}
body.has-sidebar-sm .sidebar .sidebar-search.open > a {
  background-color: #273137;
}
body.has-sidebar-sm .sidebar .sidebar-search form {
  border-left-color: #364147;
  background-color: #2d383e;
}
@media (min-width: 992px) {
  body:not(.has-sidebar-sm) .sidebar.sidebar-hover .sidebar-nav > .dropdown:hover > .inner-nav {
    border-left-color: #364147;
    background-color: #2d383e;
  }
}
@media (min-width: 992px) {
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown > .inner-nav {
    border-left-color: #364147;
    background-color: #2d383e;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown > .inner-nav > li > a {
    border-top-color: #364147;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .active > a > span {
    color: #c7cccf;
  }
}
/*	
 *	--------------------------------------------------------
 *	5.	Footer / .footer
 *	--------------------------------------------------------
*/
.footer {
  color: #c7cccf;
  background-color: #222b2f;
}
