.content{
    background-image: url('http://s1.1zoom.me/b5061/137/Iceland_Sky_Coast_Aurora_Night_512547_1920x1080.jpg');
    background-attachment: fixed;
}

h1{
    color: #ffffff;
}

.hco-article-column{
    padding: 0 10px;
}

.hco-article-column-header{
    padding-left: 5px;
}

.hco-article-column-header h2{
    font-weight: bold;
    color: white;
}

.hco-articles{
    height: 700px;
    overflow: auto;
    padding: 0;
}

.hco-article{
    margin-bottom: 5px;
}

.hco-article-anchor{
    width:100%;
    color: black;
}

.hco-article-anchor:hover{
    color: black
}

.shadowed{
    /*    border: 1px solid #d3d3d3; */
    border-radius: 5px;
    padding: 10px 10px;
}

.shadowed:hover{
    transition: 0.25s;
    box-shadow: 0 0 11px #d3d3d3;
}

.article-picture{
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.hco-article-date{
    padding: 5px;
}

.content{
	overflow-x: auto;
	overflow-y: auto;
}

.timeline{
	width: 2200px;
}

.hco-article-column{
	cursor: pointer;
}
