/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Navbar / .navbar-top
 *	2.	Horizontal navbar / .navbar-h
 *	3.	Content / .content
 *	4.	Sidebar / .sidebar
 *	5.	Sidebar search / .sidebar-search
 *	--------------------------------------------------------
*/
/*	
 *	--------------------------------------------------------
 *	1.	Navbar / .navbar-top
 *	--------------------------------------------------------
*/
.navbar-top {
  min-height: 60px;
  margin-bottom: 0;
  border-bottom: none;
}
@media (max-width: 991px) {
  .navbar-top.navbar-fixed-top {
    position: relative;
  }
}
@media (min-width: 992px) {
  .navbar-top.navbar-fixed-top + .content-wrapper {
    padding-top: 60px;
  }
}
.navbar-top .navbar-header {
  /* .navbar-header includes .navbar-brand and .sidebar-toggle */
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .navbar-top .navbar-header {
    width: 210px;
  }
  .navbar-top .navbar-header .navbar-brand img {
    width: 113px;
    height: 13px;
  }
}
@media (max-width: 767px) {
  .navbar-top .navbar-header {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  .navbar-top .navbar-header .navbar-brand {
    display: none;
  }
}
.navbar-top .navbar-header .sidebar-toggle {
  width: 27px;
  height: 27px;
  padding: 0;
  margin-top: 12px;
  border: none;
  outline: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-top .navbar-header .sidebar-toggle {
    float: right;
  }
}
.navbar-top .navbar-header .sidebar-toggle .icon-bar {
  display: block;
  height: 2px;
}
.navbar-top .navbar-header .sidebar-toggle .icon-bar + .icon-bar {
  margin-top: 7px;
}
.navbar-top .navbar-form {
  /* Form */
  margin-top: 14px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .navbar-top .navbar-form {
    padding-left: 30px;
  }
}
.navbar-top .navbar-form .form-control {
  width: 220px;
  font-size: 14px;
  z-index: 3;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 480px) {
  .navbar-top .navbar-form {
    padding-left: 10px;
    padding-right: 5px;
  }
}
@media (max-width: 767px) {
  .navbar-top .navbar-form {
    margin: 5px 0;
    float: left;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .navbar-top .navbar-form .input-group {
    position: static;
  }
  .navbar-top .navbar-form .input-group .form-control {
    display: none;
    width: 100%;
    height: 60px;
    padding: 6px 13px;
    border-radius: 0;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
  }
  .navbar-top .navbar-form.open .form-control {
    display: block;
  }
}
@media (max-width: 767px) {
  .navbar-top .navbar-form .input-group-btn {
    display: block;
    width: auto;
  }
  .navbar-top .navbar-form .input-group-btn > .btn {
    width: 32px;
    height: 27px;
  }
}
.navbar-top .navbar-form .input-group-btn > .btn {
  padding: 0;
  font-size: 14px;
}
@media (min-width: 768px) {
  .navbar-top .navbar-form .input-group-btn > .btn {
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  .navbar-top .navbar-nav {
    margin: 0 -15px 0 0;
    float: right;
  }
  .navbar-top .navbar-nav > li {
    float: left;
  }
  .navbar-top .navbar-nav > li .dropdown-menu {
    position: absolute;
    left: auto;
    right: 0;
  }
}
@media (max-width: 480px) {
  .navbar-top .navbar-nav > li {
    position: static;
  }
  .navbar-top .navbar-nav > li > a {
    padding-left: 13px;
    padding-right: 13px;
  }
  .navbar-top .navbar-nav > li .dropdown-menu {
    width: auto;
    top: auto;
    right: 15px;
    left: 15px;
  }
  .navbar-top .navbar-nav > li .dropdown-menu .slimScrollDiv,
  .navbar-top .navbar-nav > li .dropdown-menu .list-dropdown-content {
    /* Reseting inline css for custom scrollbar plugin (slimscroll) */
    width: 100% !important;
  }
}
.navbar-top .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 481px) {
  .navbar-top .navbar-nav > li > a {
    padding-left: 17px;
    padding-right: 17px;
  }
}
.navbar-top .navbar-nav > li > a .fa {
  vertical-align: middle;
  font-size: 16px;
}
.navbar-top .navbar-nav > li > a .label {
  padding: 2px 4px;
  position: absolute;
  top: 13px;
  right: 7px;
}
.navbar-top .navbar-nav > li > a img {
  width: 27px;
  height: 27px;
  margin-top: -10px;
  position: relative;
  top: 2px;
}
.navbar-top .navbar-nav > li > a .flag {
  /* Language dropdown */
  width: 20px;
  height: 14px;
  background-size: cover;
}
.navbar-top .navbar-nav .dropdown-menu .dropdown-header {
  margin-bottom: 0;
}
.navbar-top .navbar-nav .dropdown-menu > li > a > .flag {
  margin-right: 5px;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content {
  /* General styles for .list-dropdown-content which common for: 
				 Notifications dropdown
				 Messages dropdown
				 Projects dropdown
				*/
  width: 290px;
  max-height: 259px;
  padding-left: 0;
  list-style: none;
  overflow-y: auto;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a {
  display: block;
  padding: 12px 15px;
  border-bottom: 1px solid transparent;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-notifications .label {
  width: 27px;
  height: 27px;
  line-height: 15px;
  font-size: 12px;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-notifications .media-body {
  vertical-align: middle;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-messages {
  max-height: 230px;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-messages .media-heading {
  font-size: 12px;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-messages .media-object {
  width: 40px;
  height: 40px;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-tasks h6 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 12px;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-tasks .progress {
  height: 6px;
  margin-bottom: 5px;
}
.navbar-top .navbar-nav .dropdown-menu-profile {
  /* Profile dropdown */
  width: 270px;
}
.navbar-top .navbar-nav .dropdown-menu-profile .media {
  padding: 17px 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;
}
.navbar-top .navbar-nav .dropdown-menu-profile .media .media-object {
  width: 70px;
  height: 70px;
}
.navbar-top .navbar-nav .dropdown-menu-profile .media .media-body {
  padding-left: 5px;
}
.navbar-top .navbar-nav .dropdown-menu-profile .media .media-body .media-heading {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
}
.navbar-top .navbar-nav .dropdown-menu-profile > li > a > .fa {
  width: 19px;
  margin-left: -5px;
  margin-right: 5px;
  font-size: 13px;
  text-align: center;
}
.navbar-top .navbar-nav .dropdown-menu-profile > .divider {
  margin-bottom: 0;
}
.navbar-top .navbar-nav .sidebar-extra {
  /* Extra sidebar (right sidebar) */
  width: 280px;
  position: fixed;
  top: 0;
  right: -280px;
  bottom: 0;
  font-size: 12px;
  z-index: 991;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller {
  width: 280px;
  position: fixed;
  top: 0;
  right: -280px;
  bottom: 0;
  overflow-y: auto;
  border-left: 1px solid transparent;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs {
  /* Tab navigation */
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > li {
  width: 33.3333333333%;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller h6 {
  margin-top: 20px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .list-sidebar-extra {
  list-style: none;
  padding-left: 0;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a {
  display: block;
  padding: 15px;
  border-bottom: 1px solid transparent;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a .media-object,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a .media-object {
  width: 36px;
  height: 36px;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a .media-right,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a .media-right {
  font-style: italic;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .media-body p:last-child {
  margin-bottom: 0;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .text-ellipsis {
  font-style: italic;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .text-ellipsis {
  margin-top: 2px;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-settings .list-sidebar-extra > li {
  padding: 15px;
  border-bottom: 1px solid transparent;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-settings .list-sidebar-extra > li .bootstrap-switch {
  float: right;
  margin-top: -4px;
}
.navbar-top .navbar-nav > .open .sidebar-extra,
.navbar-top .navbar-nav > .open .sidebar-extra .sidebar-extra-scroller {
  right: 0;
}
@media (min-width: 768px) {
  body.page-boxed .navbar-top .navbar-header {
    width: 155px;
  }
}
@media (min-width: 992px) {
  body.page-boxed .navbar-top .navbar-header {
    width: 210px;
  }
}
@media (min-width: 768px) {
  body.page-boxed .navbar-top .navbar-form .form-control {
    width: 190px;
  }
}
@media (min-width: 992px) {
  body.page-boxed .navbar-top .navbar-form .form-control {
    width: 220px;
  }
}
body.has-sidebar-sm .navbar-top .navbar-header {
  width: auto;
  margin-left: -6px;
}
body.has-sidebar-sm .navbar-top .navbar-header .navbar-brand {
  display: none;
}
body.has-sidebar-sm .navbar-top .navbar-header .sidebar-toggle {
  margin-left: 3px;
}
/*	
 *	--------------------------------------------------------
 *	2.	Horizontal navbar / .navbar-h
 *	--------------------------------------------------------
*/
@media (max-width: 991px) {
  .navbar-top .navbar-h {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar-top .navbar-h {
    margin-left: 30px;
  }
  .has-sidebar-sm .navbar-top .navbar-h {
    margin-left: 15px;
  }
  .navbar-top .navbar-h > li > a {
    font-weight: 300;
    font-size: 14px;
  }
  .navbar-top .navbar-h .dropdown-menu {
    width: auto;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .navbar-top .navbar-h .dropdown-menu .dropdown-header {
    padding: 10px 25px;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: none;
  }
  .navbar-top .navbar-h .dropdown-menu li > a {
    display: block;
    padding: 7px 25px;
    font-weight: 300;
    font-size: 14px;
    white-space: normal;
  }
  .navbar-top .navbar-h .dropdown-sm > .dropdown-menu {
    min-width: 210px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-top .navbar-h .dropdown-sm > .dropdown-menu li > a > i {
    margin-top: 3px;
    margin-right: -5px;
    float: right;
  }
  .navbar-top .navbar-h .dropdown-sm > .dropdown-menu .dropdown-menu {
    min-width: 210px;
    top: 0;
    left: 100%;
  }
  .navbar-top .navbar-h .dropdown-sm > .dropdown-menu .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .navbar-top .navbar-h .dropdown-lg {
    position: static;
  }
  .navbar-top .navbar-h .dropdown-lg .dropdown-menu {
    left: 255px;
  }
  .has-sidebar-sm .navbar-top .navbar-h .dropdown-lg .dropdown-menu {
    left: 60px;
  }
  .navbar-top .navbar-h .dropdown-lg .dropdown-menu .dropdown-menu-item {
    width: 210px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 0;
    list-style: none;
    float: left;
  }
  .navbar-top .navbar-h .dropdown-lg .dropdown-menu .dropdown-menu-item + .dropdown-menu-item {
    border-left: 1px solid transparent;
  }
}
@media (min-width: 992px) {
  .sidebar-nav-h {
    /* Horizontal nav in sidebar */
    display: none;
  }
}
.sidebar-nav-h .dropdown-lg > .inner-nav .dropdown-menu-item {
  list-style: none;
  padding-left: 0;
}
.sidebar-nav-h .dropdown-lg > .inner-nav .dropdown-menu-item > .dropdown-header {
  font-size: 15px;
  border-bottom: none;
  background-color: transparent;
}
.sidebar-nav-h .dropdown-lg > .inner-nav .dropdown-menu-item > li > a {
  display: block;
  padding: 7px 25px 7px 45px;
  letter-spacing: .2px;
}
/*	
 *	--------------------------------------------------------
 *	3.	Content / .content
 *	--------------------------------------------------------
*/
.content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 36px;
  overflow: hidden;
}
.content .breadcrumb-wrapper {
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px 15px;
  border-bottom: 1px solid transparent;
}
.content .breadcrumb-wrapper:before,
.content .breadcrumb-wrapper:after {
  content: "";
  display: table;
}
.content .breadcrumb-wrapper:after {
  clear: both;
}
.content .breadcrumb-wrapper .breadcrumb {
  display: inline-block;
  float: left;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  background-color: transparent;
}
.content .breadcrumb-wrapper .breadcrumb i {
  margin-right: 5px;
}
.content .breadcrumb-wrapper .dropdown-wrapper {
  float: right;
  display: inline-block;
}
.content .breadcrumb-wrapper .dropdown-wrapper .select2-container {
  display: inline-block;
  width: 125px !important;
  margin-top: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
}
@media (max-width: 991px) {
  .content .breadcrumb-wrapper .dropdown-wrapper .select2-container {
    display: none;
  }
}
.content .breadcrumb-wrapper .dropdown-wrapper .select2-container .select2-selection__arrow {
  padding-left: 12px;
}
.content .breadcrumb-wrapper .dropdown-wrapper .select2-container .select2-selection__arrow b {
  margin-left: 7px;
}
.content .page-title-wrapper {
  margin-bottom: 30px;
}
.content .page-title-wrapper:before,
.content .page-title-wrapper:after {
  content: "";
  display: table;
}
.content .page-title-wrapper:after {
  clear: both;
}
.content .page-title-wrapper .page-title {
  display: inline-block;
  float: left;
}
.content .page-title-wrapper .btn {
  float: right;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .content .page-title-wrapper .btn span {
    display: none;
  }
}
.footer {
  height: 36px;
  padding: 10px 15px;
  font-size: 11px;
  text-align: center;
}
.footer.footer-fixed {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.footer .divider {
  padding-left: 5px;
  padding-right: 5px;
}
.content-wrapper.container {
  /* For boxed layout */
  padding-left: 0;
  padding-right: 0;
}
/*	
 *	--------------------------------------------------------
 *	4.	Sidebar / .sidebar
 *	--------------------------------------------------------
*/
.sidebar {
  width: 240px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 300;
  font-size: 14px;
  float: left;
}
@media (max-width: 991px) {
  .sidebar {
    display: none;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    float: none;
  }
}
.sidebar .sidebar-nav {
  padding-left: 0;
  list-style: none;
}
.sidebar .sidebar-nav > .title {
  padding: 11px 25px 11px 15px;
}
.sidebar .sidebar-nav > li > a {
  display: block;
  padding: 11px 25px 11px 15px;
  letter-spacing: .2px;
  border-bottom: 1px solid transparent;
}
.sidebar .sidebar-nav > li > a .fa {
  width: 21px;
  margin-left: -2px;
  margin-right: 5px;
  font-size: 16px;
  text-align: center;
}
.sidebar .sidebar-nav .dropdown > a:after {
  content: "\f105";
  margin-right: -10px;
  float: right;
  font-family: 'FontAwesome';
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sidebar .sidebar-nav .dropdown.open > a:after {
  content: "\f107";
}
.sidebar .sidebar-nav .open > .inner-nav {
  /* Showing inner navigation */
  display: block;
}
.sidebar .sidebar-nav .inner-nav {
  display: none;
  list-style: none;
  padding-top: 1px;
  padding-left: 0;
}
.sidebar .sidebar-nav .inner-nav > li > a {
  display: block;
  padding: 7px 25px 7px 45px;
  margin-bottom: 1px;
}
.sidebar .sidebar-nav .inner-nav > li > a .fa {
  margin-right: 5px;
}
.sidebar .sidebar-nav .inner-nav > .dropdown > .inner-nav > li > a {
  /* Second level .inner-menu dropdown */
  padding-left: 60px;
}
.sidebar .sidebar-nav .inner-nav > .dropdown > .inner-nav > .dropdown > .inner-nav > li > a {
  /* Third level .inner-menu dropdown */
  padding-left: 70px;
}
.sidebar .sidebar-nav .inner-nav > .dropdown > .inner-nav > .dropdown > .inner-nav > .dropdown > .inner-nav > li > a {
  /* Fourth level .inner-menu dropdown */
  padding-left: 80px;
}
@media (min-width: 992px) {
  .navbar-fixed-top + .content-wrapper .sidebar.sidebar-fixed {
    /* Fixed Sidebar */
    position: fixed;
  }
  .navbar-fixed-top + .content-wrapper .sidebar.sidebar-fixed .sidebar-fixed-scroller {
    /* This element required for custom scrollbar plugin (slimscroll) */
    position: fixed;
    width: 240px;
    top: 100px;
    bottom: 36px;
    overflow-y: auto;
  }
  .navbar-fixed-top + .content-wrapper .sidebar.sidebar-fixed + .content {
    position: absolute;
    left: 240px;
    right: 0;
  }
}
@media (max-width: 991px) {
  .navbar-fixed-top + .content-wrapper .sidebar.sidebar-fixed .sidebar-fixed-scroller,
  .navbar-fixed-top + .content-wrapper .sidebar.sidebar-fixed .slimScrollDiv {
    width: 100% !important;
  }
}
@media (min-width: 992px) {
  body.has-sidebar-sm .navbar-fixed-top + .content-wrapper .sidebar.sidebar-fixed + .content {
    left: 50px;
  }
}
@media (min-width: 992px) {
  body:not(.has-sidebar-sm) .sidebar.sidebar-hover .sidebar-nav > .dropdown:hover > a:after {
    content: "\f107";
  }
  body:not(.has-sidebar-sm) .sidebar.sidebar-hover .sidebar-nav > .dropdown:hover > .inner-nav {
    display: block;
    width: 220px;
    position: absolute;
    top: 0;
    left: 240px;
    z-index: 1;
    border-left: 1px solid transparent;
  }
  body:not(.has-sidebar-sm) .sidebar.sidebar-hover .sidebar-nav > .dropdown > .inner-nav {
    display: none;
  }
  body:not(.has-sidebar-sm) .sidebar.sidebar-hover .sidebar-nav > .dropdown .inner-nav > li > a {
    padding: 10px 15px;
  }
  body:not(.has-sidebar-sm) .sidebar.sidebar-hover .sidebar-nav > .dropdown .inner-nav .dropdown > a:after {
    margin-right: 0;
  }
  body:not(.has-sidebar-sm) .sidebar.sidebar-hover .sidebar-nav > .dropdown .inner-nav > .dropdown > .inner-nav > li > a {
    /* Second level .inner-menu dropdown */
    padding-left: 30px;
  }
  body:not(.has-sidebar-sm) .sidebar.sidebar-hover .sidebar-nav > .dropdown .inner-nav > .dropdown > .inner-nav > .dropdown > .inner-nav > li > a {
    /* Third level .inner-menu dropdown */
    padding-left: 40px;
  }
  body:not(.has-sidebar-sm) .sidebar.sidebar-hover .sidebar-nav > .dropdown .inner-nav > .dropdown > .inner-nav > .dropdown > .inner-nav > .dropdown > .inner-nav > li > a {
    /* Fourth level .inner-menu dropdown */
    padding-left: 50px;
  }
}
@media (min-width: 992px) {
  body.has-sidebar-sm .sidebar {
    width: 50px;
    padding-top: 50px;
    position: relative;
    z-index: 2;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .title {
    display: none;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > li > a {
    padding: 11px 15px;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > li > a .fa {
    margin-left: 0;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > li > a > span {
    /* Moving span inside sidebar link to the inner nav */
    display: none;
    position: absolute;
    top: 11px;
    left: 65px;
    white-space: nowrap;
    z-index: 2;
    cursor: auto;
    text-transform: uppercase;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown:hover > a > span,
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown:hover > .inner-nav {
    display: block;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown > a:after {
    display: none;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown > .inner-nav {
    display: none;
    width: 220px;
    padding-top: 40px;
    padding-bottom: 12px;
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 1;
    border-left: 1px solid transparent;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown .inner-nav > li > a {
    padding: 10px 15px;
    border-top: 1px solid transparent;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown .inner-nav .dropdown > a:after {
    margin-right: 0;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown .inner-nav > .dropdown > .inner-nav > li > a {
    /* Second level .inner-menu dropdown */
    padding-left: 30px;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown .inner-nav > .dropdown > .inner-nav > .dropdown > .inner-nav > li > a {
    /* Third level .inner-menu dropdown */
    padding-left: 40px;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown .inner-nav > .dropdown > .inner-nav > .dropdown > .inner-nav > .dropdown > .inner-nav > li > a {
    /* Fourth level .inner-menu dropdown */
    padding-left: 50px;
  }
}
@media (min-width: 992px) {
  body.page-boxed .sidebar {
    /* Boxed version */
    border-left: 1px solid transparent;
  }
}
/*	
 *	--------------------------------------------------------
 *	5.	Sidebar search / .sidebar-search
 *	--------------------------------------------------------
*/
.sidebar .sidebar-search a {
  display: none;
}
.sidebar .sidebar-search form {
  padding: 10px 11px 15px 11px;
}
.sidebar .sidebar-search form .form-control {
  z-index: 3;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (min-width: 992px) {
  body.has-sidebar-sm .sidebar .sidebar-search {
    /* Search in small sidebar */
    position: relative;
  }
  body.has-sidebar-sm .sidebar .sidebar-search a {
    display: block;
    padding: 11px 15px;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid transparent;
  }
  body.has-sidebar-sm .sidebar .sidebar-search a .fa {
    width: 21px;
  }
  body.has-sidebar-sm .sidebar .sidebar-search:hover form {
    display: block;
  }
  body.has-sidebar-sm .sidebar .sidebar-search form {
    display: none;
    width: 220px;
    padding: 7px;
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 1;
    border-left: 1px solid transparent;
  }
}
