
/*
MFT ICONS 
*/
@font-face {
    font-family: 'mft-icon';
    src:  url('../fonts/mft-icon.eot?8t2ta');
    src:  url('../fonts/mft-icon.eot?8t2ta#iefix') format('embedded-opentype'),
    url('../fonts/mft-icon.ttf?8t2ta') format('truetype'),
    url('../fonts/mft-icon.woff?8t2ta') format('woff'),
    url('../fonts/mft-icon.svg?8t2ta#mft-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mft-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mft-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mft-cancelled:before {
    content: "\e900";
}
.mft-mecca-logo:before {
    content: "\e901";
}

.hcheck-light-blue {
    color:#22BDF5 !important;
}
.hcheck-dark-blue {
    color:#003D61 !important;
}

.hcheck-light-blue-bcolor {
    background-color:#22BDF5 !important;
}
.hcheck-dark-blue-bcolor {
    background-color:#003D61 !important;
}

/* MENU UL  */
#meeting-notifications {
    min-width: 280px;
}

/* PRE DEFINITIONS */

.select2 {
	width: 100% !important;
}
.m-right-200 {
	margin-right: 200px !important;
}

.col-no-pad-left {
	padding-left: 0;
}

.col-no-pad-right {
	padding-right: 0;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.nav-avatar {
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.m-right-10 {
    margin-right: 10px;
}

.panel-default-light>.panel-footer {
    background: transparent;
}

/* ADD CLIENT PAGE */
.add_client .inaia-input-title {
	color: blue;
	font-size: 20px;
}
.input-title {
	margin-top: 15px;
	font-weight: 400;
    font-size: 17px;
}

.iCheck-helper {
    position: absolute; 
    top: 0%; 
    left: 0%; 
    display: block; 
    width: 100%; 
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
    background: rgb(255, 255, 255); 
    border: 0px; 
    opacity: 0;
}
.radio-label {
    font-size: 16px;
}

/* CLIENT DETAILS */
.electricity_header{
	background-color: #fffa99 !important;
}

.car_header{
	background: #99f5ff !important;
}

.estate_header{
	background: #8bb3fc !important;
}

.notes_author_data{
	color:#337ab7;
}

.client_details {
    min-height: 100vh;
}
    
.client_details .board-inner {
    margin-bottom: 15px;
}
.client_details p {
    display: inline-block;
}

.client_details .board i {
    font-size: 18px;
    transition: 0.3s all;
}

.client_details .nav .active i{
    color: #42a5f5;
}
.client_details .board li:hover i{
    color: #42a5f5;
}

.client_details .bootstrap-tagsinput {
    font-size: 16px;
}

.client_details .settings-title {
    margin-left: 15px;
}

.client_details .notice-wrapper {
    padding: 40px 20px;
}

.client_details .notice-wrapper--name {
    color: #2f97db;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.client_details .notice-wrapper--text {
    line-height: 26px;
    padding : 10px 20px;
    background: #eee;
    border-radius: 1px;
}
.client_details .div-seperator {
    border: 1px solid #eee;
}

.client_details .board .fa-plane {
    font-size: 29px;
}


.pricing-wrapper-2 .pricing-warning .pricing-heading{
    background-color:#ccae62
}

.pricing-wrapper-2 .pricing-warning .pricing-heading-silver{
    background-color:#C0C0C0 !important;
}

.pricing-wrapper-2 .pricing-warning .pricing-heading:after{
    border-top-color: #ccae62;
}

.pricing-wrapper-2 .pricing-warning .pricing-heading-silver:after{
    border-top-color: #A9A9A9 !important;
}

.pricing-wrapper-2 .btn-gold {
    background-color:#ccae62;
    color: #fff;
}

.pricing-wrapper-2 .btn-silver {
    background-color:#C0C0C0;
    color: #fff;
}

.pricing-wrapper-2 .pricing-warning .pricing-heading:after{
    border-top-color: #ccae62;
}

.pricing-wrapper-2 .btn-gold {
    background-color:#ccae62;
    color: #fff;
}
.pricing-wrapper-2 .btn-gold:hover {
    background-color: #aa8a37;
}

.client-images{
    padding: 0;
    margin: 0;
}

.alert-note{
    color: red;
}

@media only screen and (max-width: 750px) {
	.client_details p {
		display: block;
	}

    .client_details .notice-wrapper--name {
        padding: 10px 20px;
    }

}


/* ============= Sparplan ============= */

.sp-flex-box-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.sp-flex-box-children-view {
    padding: 2px 40px;
    background: #80a8e9 ;
    color: #FFF;
}

.sp-investor-calculator {
    width: 100px;
    border: none;
}

.sp-investor-calculator:focus, .sp-investor-calculator:focus{
    outline: none;
}

table.paleBlueRows {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border: 1px solid #FFFFFF;
    text-align: center;
    border-collapse: collapse;
}

table.paleBlueRows  {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border: 1px solid #FFFFFF;
    text-align: center;
    border-collapse: collapse;
}

table.paleBlueRows.alignLeft {
    text-align: left !important;
}
table.paleBlueRows td, table.paleBlueRows th {
    border: 2px solid #FFFFFF;
    padding: 15px 2px;
}
table.paleBlueRows tbody td {
    font-size: 15px;
}
table.alignLeft tbody td {
    padding-left: 20px !important;
}
table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
}
table.paleBlueRows thead {
    background: #0B6FA4;
    border-bottom: 3px solid #FFFFFF;
}
table.paleBlueRows thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 3px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
    border-left: none;
}

table.paleBlueRows tfoot {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
    font-size: 16px;
}

table.paleBlueRows tfoot tr th{
    text-align: center;
    color: #0D6EA7;
    font-weight: bold;
    font-size: 19px;
}

/* Pricing */

/***
Pricing table
***/
.client_details .contract {
    position: relative;
    margin-bottom: 15px;
    border: 3px solid #eee;
}

.client_details .c_gold:hover {
    border: 3px solid #D9B611;
}

.client_details .c_takaful:hover {
    border: 3px solid #5B8930;
}

.client_details .c_inaia:hover {
    border: 3px solid #0084d1;
}

.client_details .c_gold:hover h4 {
    color: #D9B611;
}
.client_details .c_takaful:hover h4 {
    color: #5B8930;
}

.client_details .c_inaia:hover h4 {
    color: #0084d1;
}

.client_details .contract-head {
    text-align: center;
}

.client_details .contract-head h3,
.client_details .contract-head h4 {
    margin: 0;
    line-height: normal;
}

.client_details .contract-head h3 span,
.client_details .contract-head h4 span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
}

.client_details .c_gold .contract-head h3 {
    font-weight: 300;
    color: #fafafa;
    padding: 12px 0;
    font-size: 27px;
    background: #D9B611;
    border-bottom: solid 1px #D9B611;
}

.client_details .c_takaful .contract-head h3 {
    font-weight: 300;
    color: #fafafa;
    padding: 12px 0;
    font-size: 27px;
    background: #5B8930;
    border-bottom: solid 1px #5B8930;
}

.client_details .c_inaia .contract-head h3 {
    font-weight: 300;
    color: #fafafa;
    padding: 12px 0;
    font-size: 27px;
    background: #0084d1;
    border-bottom: solid 1px #0084d1;
}

.client_details .contract-head h4 {
    color: #bac39f;
    padding: 5px 0;
    font-size: 54px;
    font-weight: 300;
    background: #fbfef2;
    border-bottom: solid 1px #f5f9e7;
}

.client_details .contract-head h4 i {
    top: -8px;
    font-size: 28px;
    font-style: normal;
    position: relative;
}

.client_details .contract-head h4 span {
    top: -10px;
    font-size: 14px;
    font-style: normal;
    position: relative;
}

/*Pricing Content*/
.client_details .contract-content li {
    color: #888;
    font-size: 12px;
    padding: 7px 15px;
    border-bottom: solid 1px #f5f9e7;
    padding-left: 30px;
}

.client_details .contract-content li span {
    padding-right: 30px;
}



/*Pricing Footer*/
.client_details .contract-footer {
    color: #777;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    padding: 0 20px 19px;
}

/*Priceing Active*/
.client_details .contract-active,
.client_details .contract:hover {
    z-index: 9;
}

.client_details .contract-active h4 {
    color: #36d7ac;
}

.client_details .no-space-contract .contract:hover {
    transition: box-shadow 0.2s ease-in-out;
}

.client_details .no-space-contract .priccontracte-active .contract-head h4,
.client_details .no-space-contract .contract:hover .contract-head h4 {
    color: #36d7ac;
    padding: 15px 0;
    font-size: 80px;
    transition: color 0.5s ease-in-out;
}

.client_details .gold-btn.btn {
    color: #fff;
    background-color: #D9B611;
}
.client_details .gold-btn.btn:hover,
.client_details .gold-btn.btn:focus,
.client_details .gold-btn.btn:active,
.client_details .gold-btn.btn.active {
    color: #FFFFFF;
    background-color: #cfa500;
    margin-top: 5px;
}

.client_details .takaful-btn.btn {
    color: #fff;
    background-color: #5B8930;
    margin-top: 5px;
}
.client_details .takaful-btn.btn {
    color: #0084d1;
    background-color: #5B8930;
    margin-top: 5px;
}
.client_details .takaful-btn.btn:hover,
.client_details .takaful-btn.btn:focus,
.client_details .takaful-btn.btn:active,
.client_details .takaful-btn.btn.active {
    color: #FFFFFF;
    background-color: #486d26;
}


.client_details #contract>li>a:hover  {
    cursor: pointer;
}
.client_details #contract>li.active>#gold>a,
.client_details #contract>li.active>#gold>a:focus,
.client_details #contract>li.active>#gold>a:hover  {
    color: #fff;
    background-color: #D9B611;
}

.client_details #contract>li.active>#takaful,
.client_details #contract>li.active>#takaful:focus,
.client_details #contract>li.active>#takaful:hover  {
    color: #fff;
    background-color: #5B8930;
}

.client_details #contract>li.active>#inaia,
.client_details #contract>li.active>#inaia:focus,
.client_details #contract>li.active>#inaia:hover  {
    color: #fff;
    background-color: #0084d1;
}

.client_details #contract>li.active>#project,
.client_details #contract>li.active>#project:focus,
.client_details #contract>li.active>#project:hover  {
    color: #fff;
    background-color: #757D75;
}

.client_details .tab-content> #gold {
    min-height: 550px;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0px rgba(217,182,17,1);
    -moz-box-shadow: 1px 1px 20px 0px rgba(217,182,17,1);
    box-shadow: 1px 1px 20px 0px rgba(217,182,17,1);
}

.client_details .tab-content> #takaful {
    border-radius: 5px;
    min-height: 600px;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0px rgba(91,137,48,1);
    -moz-box-shadow: 1px 1px 20px 0px rgba(91,137,48,1);
    box-shadow: 1px 1px 20px 0px rgba(91,137,48,1);
}

.client_details .tab-content> #inaia {
    border-radius: 5px;
    padding: 10px;
    min-height: 400px;
    -webkit-box-shadow: 1px 1px 20px 0px rgba(0,132,209,1);
    -moz-box-shadow: 1px 1px 20px 0px rgba(0,132,209,1);
    box-shadow: 1px 1px 20px 0px rgba(0,132,209,1);
}

.client_details .tab-content> #projects {
    border-radius: 5px;
    min-height: 550px;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0px rgba(117,125,117,1);
    -moz-box-shadow: 1px 1px 20px 0px rgba(117,125,117,1);
    box-shadow: 1px 1px 20px 0px rgba(117,125,117,1);
}

.client_details .gold-contrast .select2-selection, .gold-input {
    border:1px solid #d9b611;
}
.client_details .gold-contrast .select2-selection:focus, .gold-input:focus {
    border:1px solid #d9b611;
}

.client_details .takaful-contrast .select2-selection, .takaful-input {
    border:1px solid #5B8930;
}
.client_details .takaful-contrast .select2-selection:focus, .takaful-input:focus {
    border:1px solid #5B8930;
}
.client_details .inaia-contrast .select2-selection, .inaia-input {
    border:1px solid #0084d1;
}
.client_details .inaia-contrast .select2-selection:focus, .inaia-input:focus {
    border:1px solid #0084d1;
}
.client_details .client_type {
    padding-top: 5px;
    border-radius: 0;
    display: inline-block;
    float: right;
    list-style: none;
}
.client_details .client_type li{
    display: inline-block;
    background-color: #eee;
    padding: 2px 8px;
    font-size: 16px;
    font-weight: 800;
    color: #00bcd4;
    margin-left: 5px;
}

.client_details .remove_type:hover{
    cursor: pointer;
    color: #ee4141;
}

.modal_client_type {
    font-weight: 700;
}

@media( max-width : 585px ) {

    .client_details-container .board {
        width: 90%;
        height: auto !important;
    }

    .client_details-container span.round-tabs {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .client_details-container .tab-content .head {
        font-size: 20px;
    }

    .client_details-container .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .client_details-container .nav-tabs > li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .client_details-container .btn-outline-rounded {
        padding: 12px 20px;
    }
}


/*  ZAKAT CLIENTS */
.zakat_clients--table .fa-calculator {
	color: #2f97db;
}


/* ZAKAT DETAILS VIEW */
.zakat_details .haram-wrapper, .zakat_details .list-wrapper {
    background: #fff;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    min-height: 10px;
    padding: 20px;
}


/* TRIPS */ 

/* ADD TRIP */ 
.add_trip .flight-title {
    margin: 0 auto;
    width: 150px;
    text-align: center;
    background-color: #eee;
    padding: 5px 20px;
    margin-top: 20px;
    color: #ffffff; font-family: 'Raleway',sans-serif; 
    font-size: 20px; 
    font-weight: 600; 
    line-height: 22px; 
    text-align: center; 
    text-transform: uppercase;
    text-shadow: 1px 2px 2px #ddd;
}

/* RANGE SILDER */
   .range-slider {
       display: inline-block;
       width: 100%;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       position: relative;
       padding-bottom: 2px;
   }
.range-slider > input {
    opacity: 0;
    width: 100%;
    position: relative;
    z-index: 5;
    margin-top: 20px;
    -webkit-appearance: none;
}
.range-slider > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 100;
    position: relative;
    width: 50px;
    height: 30px;
    -webkit-border-radius: 10px;
}
.range-slider > span.slider-container {
    //min-height: 110px;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: -8px;
    right: 46px;
    z-index: 3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.range-slider > span.slider-container > span.bar {
    background-color: #000;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: -25px;
    left: 10px;
    right: -42px;
    height: 7px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.range-slider > span.slider-container > span.bar > span {
    background: #80a8e9;
    display: inline-block;
    float: left;
    height: 11px;
    width: 0%;
}
.range-slider > span.slider-container > span.bar-btn {
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 25px;
    padding-top: 2px;
    font-weight: bold;
    text-align: center;
    background: #fff;
    left: -25px;
    top: -65px;
    border-radius: 3px;
    border: #333 2px solid;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.range-slider > span.slider-container > span.bar-btn:after {
    content: "";
    border: 2px solid #fff;
    background-color: #80a8e9;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 26px;
    z-index: 3;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.range-slider > span.slider-container > span.bar-btn > span:after {
    content: " €";
}

/*  -------- trip DETAILS --------- */

/* trip info */

.trip_detail_site .flight-overview {
    background-color: #34495e;
    width: 10%;
    min-width: 150px;
    display: inline-block;
    float: left;
    padding: 15px;
}

.trip_detail_site .flight-overview .form-group label{
    align-items: center;
    font-size: 0.7em;
    letter-spacing: 1px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0.2em 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.trip_detail_site .flight-overview .form-group p{
    width: 100%;
    text-align: center;
    overflow:hidden;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 40px;
    color: #ecf0f1;
}

.trip_detail_site .flight-content {
    display: inline-block;
    //height: 800px;
    width: 80%;
    float: right;
}
.trip_detail_site .panel {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 120px;
    margin: 10px;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    border-radius: 8px;
}
.trip_detail_site .panel-coast {
    width: 45%;
}

.trip_detail_site .panel a {
    position: relative;
    display: block;
    padding: 12px 25px 25px 25px;
    color: #fff;
    text-decoration: none;
    z-index: 2;
    font-size: 22px;
}
.trip_detail_site .panel a h3{
    display: inline-block;
    font-weight: 700;
    line-height: 96px;
    width: 80%;
}
.trip_detail_site .panel a h3{
    display: inline-block;
    font-weight: 700;
    line-height: 96px;
    width: 80%;
}
.trip_detail_site .panel a span{
    float: right;
    font-size: 30px;
}
.trip_detail_site .panel:after {
    position: absolute;
    font-family: FontAwesome;
    color: #000000;
    z-index: 1;
    transition: all .5s;
    line-height: normal;
}
.trip_detail_site .panel.flight {
    background-color: #2c3e50;
}
.trip_detail_site .panel.flight:after {
    content: "\f0d6";
    font-size: 200px;
    color: #233140;
    top: 60px;
    right: 60px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.trip_detail_site .panel.flight:hover:after {
    top: 8px;
}


.trip_detail_site .panel.user-all {
    background-color: #279824;
}
.trip_detail_site .panel.user-all:after {
    content: "\f0c0";
    font-size: 170px;
    color: #238820;
    top: 35px;
    right: 39px;
}
.trip_detail_site .panel.user-all:hover:after {
    top: 0px;
}


.trip_detail_site .panel.user-done {
    background-color: #2980b9;
}
.trip_detail_site .panel.user-done:after {
    content: "\f00c";
    font-size: 170px;
    color: #105e91;
    top: 2px;
    right: 39px;
}
.trip_detail_site .panel.user-done:hover:after {
    top: -10px;
}


.trip_detail_site .panel.user-new {
    background-color: #cf770e;
}
.trip_detail_site .panel.user-new:after {
    content: "\f234";
    font-size: 160px;
    color: #b86604;
    top: 20px;
    right: 39px;
}
.trip_detail_site .panel.user-new:hover:after {
    top: -10px;
}

.trip_detail_site .panel.user-o {
    background-color: #A17917
}

.trip_detail_site .panel.user-o:after {
    content: "\f11a";
    font-size: 170px;
    color: #705410;
    top: 45px;
    right: 39px;
}
.trip_detail_site .panel.user-o:hover:after {
    top: 0px;
}
.trip_detail_site .panel.user-n {
    background-color: #fc1c3e;
}
.trip_detail_site .panel.user-n:after {
    content: "\f119";
    font-size: 170px;
    color: #ec0326;
    top: 45px;
    right: 35px;
}
.trip_detail_site .panel.user-n:hover:after {
    top: 0px;
}
.trip_detail_site .panel:hover:after {
    transition: all .5s;
}

.trip_detail_site .flight-content .body-content h3{
    margin-top: 35px;
    align-items: center;
    font-size: 26px;
    font-weight: 400;
    color: #003c60;
    text-decoration: none;
    text-transform: uppercase;
}

.trip_detail_site .flight-content .body-content {
    width: 90%;
    margin-left: 10px;
}

/*  ------------------- DASHBOARD -------------------- */
.selected_element{
	background: #d6d6d6;
}

.btn-booking {
    color:#fff;
    margin-top: 5px;
}
.btn-testament-booking{
    background: #6b6b6b;
}
.btn-h2hcheck-booking{
    background: #977543;
}
.btn-zakatcheck-booking{
    background: #2041ad;
}

.btn-halalcheck-booking{
    background: #003c60;
}
.btn-sparen-booking{
    background: #017500;
}
.btn-halalco-booking{
    background: #7bb9df;
}

/*  ------------------- SHOW HOME -------------------- */
.calendar-btns {
    margin-top: 5px;
}

/*  ------------------- TICKET SYSTEM -------------------- */

.show-ticket .title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin: 40px;
}
.show-ticket .ticket-id {
    text-align: right;
}

.show-ticket .ticket-settings {
    min-height: 70px;
}

.show-ticket .message {
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.82);
    -webkit-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.82);
    -moz-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.82);
    padding: 20px;
    min-height: 400px;
}

.show-ticket .user-settings {
    margin-top: 20px;
}
.show-ticket .settings {
    font-size: 16px;
}

.show-ticket .answer .unselectable {
    font-size: 14px;
    background-color: #6565;
    width: 70px;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
    color: #888;
}

/*  ------------------- TICKET SYSTEM -------------------- */

.show_home .label-info {
    margin-right: 5px;
    padding: 3px 10px; 
}

.btn-halalcheck{
    background-color: #81bcea;
    color: white;
}

.fa-check{
    color: green !important;
}

.btn-halalcheck:hover{
    transition: .5s;
    color:white;
    background-color: #00395f;
}


/*  ------------------- ADVICE -------------------- */
.advice-box {
    width: 100%;
}
.advice-box img {
    height: 200px;
}
.partner-img {
    width: 100%;
}

/* ---------------- MECCA CHECKBOX  --------------- */
.paid-booking-checkbox input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

.paid-booking-checkbox input[type=checkbox],
.status-booking-checkbox input[type=checkbox] {
    display: none;
}

.paid-booking-checkbox input[type=checkbox] + label:before {
    content: "\2714";
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

.status-booking-checkbox input[type=checkbox] + label:before {
    content: "\2714";
    border-radius: 0.2em;
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    font-size: 25px;
    cursor: pointer;
}
.paid-booking-checkbox .paid_l1:before{
    background-color: #fe6f5e;
}
.paid-booking-checkbox .paid_l2:before{
    background-color: #76EEC6;
}
.paid-booking-checkbox .paid_l3:before {
    background-color: #86BDF2;
}
.status-booking-checkbox .status-label:before{
    background-color: transparent;
    border: 1px solid #888;
    width: 55px;
    height: 85px;
}
.paid-booking-checkbox input[type=checkbox] + label:active:before,
.status-booking-checkbox input[type=checkbox] + label:active:before {
    transform: scale(0);
}

.paid-booking-checkbox input[type=checkbox]:checked + label:before ,
.status-booking-checkbox input[type=checkbox]:checked + label:before {
    background-color: #4abcf4;
    border-color: #4abcf4;
    color: #fff;
}
.paid-booking-checkbox p {
    width: 150px;
}
.paid-booking-checkbox p span{
    float: right;
    font-size: 17px;
}


/*  ------------------- SHOP -------------------- */
.hc-shop .nav-controller {
    border-bottom: 1px solid #eee;
}

.hc-shop .nav-controller li {
    background-color: #eeeeee;
}

/*  ------------------- HALALCOMMUNITY -------------------- */

.hc_details .box-title{
    font-weight: 600;
}

.hc_details .panel-card-stat{
    color: #7f8c8d
}


.hc_details .inside-box-hedaer{
    margin-top: 0px;
    margin-bottom: 0px;
}

.hco-adviser{
    margin-top: 15px;
}

.add_project .project-text{
    height: 15vh;
    resize: none;
}

.add_project .project-description {
    height: 50vh;
    resize: none;
}

.box-type {
    padding-top: 50px;
}

.pro-headline-opt {
    font-size: 22px;
    margin: 0 0 20px 0;
    line-height: 1.67;
    letter-spacing: -0.2px;
    word-spacing: 1px;
    color: #22BDF5;
}

.pro-sub-headline-opt {
    font-size: 18px;
    margin: 0 0 20px 0;
    line-height: 1.67;
    letter-spacing: -0.2px;
    word-spacing: 1px;
    color: #22BDF5;
}

.pro-description-opt  {
    margin: 0;
    font-size: 1em;
    color: #697FB3;
    line-height: 1.8;
}

.add_project .fileUpload {
    position: relative;
    overflow: hidden;
}
.add_project .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.add_project .show-img-btn {
    width: 100%;
    height: 50px;
    background: transparent;
    border-bottom: 1px solid #22BDF5;
    border-radius: 50px;
}
.add_project .show-img-btn:focus {
    border:none;
}


.add_project .img-wrap {
    position: relative;
    display: inline-block;
}

.add_project  .img-wrap img {
    width: 100%;
    height: 300px;
}

.add_project .img-wrap .close {
    position: absolute;
    top: 4px;
    right: 2px;
    z-index: 100;
    padding: 5px 2px 2px;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px -1px 9px rgba(150, 150, 150, 1);
    cursor: pointer;
    opacity: 1;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
    transition:all 0.5s ease; ;
}
.add_project .img-wrap .order {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 100;
    width: 100px;
    height: 30px;
    border: none;
    background: transparent;
    text-shadow: 1px 1px 5px #fff;
    color: #22BDF5;
    font-size: 30px;

}
.add_project .img-wrap .close :hover{
    color: #fc5c65;
}

.hc_project_details .project-tag {
    padding: 4px;
    background-color: #eee;
    text-align: center;
}

.hc_project_details  .show_avatar {
    width: 185px;
    display: block;
    margin: 0 auto;
}

.kontoauszug-table .action-icon {
    margin-left: 10px;
}

#chanegMoneyModal .payment-radio {
    margin-right: 15px;
}

#chanegMoneyModal .payment-notice,
#cancelMoneyModal .payment-notice {
    height: 120px;
    resize: none;
}


/* EMAIL Template */

.email-sysetm .select2-container--bootstrap .select2-selection--multiple{
    border-top-color: #f1f2f2;
    border-bottom-color: #f1f2f2;
    border-left: none;
    border-right: none;
}
.email-sysetm .select2-container--bootstrap .select2-selection--single {
    border-top-color: #f1f2f2;
    border-bottom-color: #f1f2f2;
    border-left: none;
    border-right: none;
}

.email-sysetm .group-emails {
   margin-top: 5px;
}

/* MAIN Template */

.radio-label{
    margin: 7px 10px 0 5px;
}

/* Spinner */

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #4b9cdb;
    border-radius: 100%;
}

.load-4 .ring-1 {animation: loadingD 1.5s .3s cubic-bezier(.17,.37,.43,.67) infinite;}

.advice_summary_h5{
	color: #013960;
	font-weight: bold;
	font-size: 13px;
}

.top-mycart-overlay{
    background-color: #d7d7d7;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	padding: 0;
    margin-top: 20px;
    position: absolute;
    width: 270px;
    z-index: 110;
    visibility: hidden;
    transform:scaleY(0);
    transform-origin: 0 0 0;
    transition:0.5s;
}

.hc_notes{
	color: #003860;
	font-weight: bold;
	font-size: 14px;
}

@keyframes loadingA {
    0 {height: 15px;}
    50% {height: 35px;}
    100% {height: 15px;}
}

@keyframes loadingB {
    0 {width: 15px;}
    50% {width: 35px;}
    100% {width: 15px;}
}

@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}

@keyframes loadingD {
    0 {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@keyframes loadingE {
    0 {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes loadingF {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes loadingG {
    0% {transform: translate(0,0) rotate(0deg);}
    50% {transform: translate(70px,0) rotate(360deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}

@keyframes loadingH {
    0% {width: 15px;}
    50% {width: 35px; padding: 4px;}
    100% {width: 15px;}
}

@keyframes loadingI {
    100% {transform: rotate(360deg);}
}

@keyframes bounce  {
0%, 100% {transform: scale(0.0);}
50% {transform: scale(1.0);}
}

@keyframes loadingJ {
0%,100% {transform: translate(0,0);}
  
50% {
    transform: translate(80px,0);
    background-color: #f5634a;
    width: 25px;
}
}
