/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page events
 *	--------------------------------------------------------
*/
.modal-header,
.modal-body {
  padding-left: 20px;
  padding-right: 20px;
  color: #999;
}
.modal-header {
  border-bottom-color: #e8e8e8;
  background-color: transparent;
}
.modal-header .modal-title {
  font-size: 16px;
  font-weight: 600;
}
.modal-event-details .modal-body .comments-wrapper {
  color: #474747;
}
.modal-event-details .modal-body .comments-wrapper .media-object {
  width: 30px;
  height: 30px;
}
.content {
  background-color: #f9f9f9;
}
.content .panel {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.content .panel-heading,
.content .panel-body {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
}
.content .panel-heading:after {
  display: none;
}
.content .panel-body {
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}
.content .col-events .panel-heading .panel-title {
  font-size: 16px;
  font-weight: 600;
}
.content .col-events .panel-heading .panel-tools .btn {
  font-size: 12px;
  font-weight: 600;
}
.content .col-events .events-wrapper .panel-body {
  color: #999;
  border: 1px solid transparent;
}
.content .col-events .events-wrapper .panel-body img {
  width: 55px;
  height: 48px;
  position: absolute;
  top: -1px;
  right: -1px;
}
.content .col-events .events-wrapper .panel-body .lead {
  margin-bottom: 5px;
  font-weight: 400;
  color: #474747;
}
.content .col-events .events-wrapper .panel-body span {
  font-size: 14px;
}
