/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page lockscreen 1
 *	--------------------------------------------------------
*/
html,
body {
  min-height: 100%;
}
body {
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #f7f7f7 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f7f7f7)) no-repeat;
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #f7f7f7 100%) no-repeat;
  background: -o-linear-gradient(top, #fdfdfd 0%, #f7f7f7 100%) no-repeat;
  background: -ms-linear-gradient(top, #fdfdfd 0%, #f7f7f7 100%) no-repeat;
  background: linear-gradient(to bottom, #fdfdfd 0%, #f7f7f7 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f7f7f7', GradientType=0);
}
.lockscreen-wrapper {
  max-width: 360px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
.lockscreen-wrapper .panel {
  border-radius: 6px;
}
.lockscreen-wrapper .panel-heading {
  color: #c7c7c7;
  font-weight: 600;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #f9f9f9 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f9f9f9)) no-repeat;
  background: -webkit-linear-gradient(top, #fff 0%, #f9f9f9 100%) no-repeat;
  background: -o-linear-gradient(top, #fff 0%, #f9f9f9 100%) no-repeat;
  background: -ms-linear-gradient(top, #fff 0%, #f9f9f9 100%) no-repeat;
  background: linear-gradient(to bottom, #fff 0%, #f9f9f9 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f9f9f9', GradientType=0);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.lockscreen-wrapper .panel-heading:after {
  left: 0;
  right: 0;
}
.lockscreen-wrapper .panel-body {
  background-color: #fcfcfc;
}
.lockscreen-wrapper .panel-body p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}
.lockscreen-wrapper .panel-body form {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
}
.lockscreen-wrapper .panel-footer {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fcfcfc;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.lockscreen-wrapper .panel-footer a {
  font-size: 13px;
  color: #999;
}
