/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page portfolio 1
 *	--------------------------------------------------------
*/
.portfolio-header {
  height: 600px;
  color: #fff;
  background: url("../img/portfolio-header.png") center center no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .portfolio-header {
    height: 350px;
    background-position: 0% 100%;
    background-size: auto;
  }
}
.portfolio-header h1 {
  position: relative;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 2.5px;
}
@media (min-width: 768px) {
  .portfolio-header h1 {
    margin-top: 120px;
  }
}
.portfolio-header h1:after {
  content: "";
  display: block;
  width: 43px;
  height: 4px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
.portfolio-header p {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.15px;
}
.portfolio-header .btn {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.15px;
  color: #fff;
  border-width: 3px;
  border-color: #fff;
  background-color: transparent;
}
@media (min-width: 768px) {
  .portfolio-header .btn {
    margin-top: 200px;
  }
}
.portfolio-header .btn:hover,
.portfolio-header .btn:focus,
.portfolio-header .btn.focus,
.portfolio-header .btn:active,
.portfolio-header .btn.active {
  color: #474747;
  background-color: #fff;
}
.portfolio-body {
  padding-left: 30px;
  padding-right: 30px;
}
.portfolio-body .portfolio-about {
  display: table;
  width: 100%;
}
@media (min-width: 768px) {
  .portfolio-body .portfolio-about .portfolio-left,
  .portfolio-body .portfolio-about .portfolio-middle,
  .portfolio-body .portfolio-about .portfolio-right {
    display: table-cell;
  }
}
.portfolio-body .portfolio-about .portfolio-left {
  padding-top: 190px;
  vertical-align: bottom;
}
.portfolio-body .portfolio-about .portfolio-left h2 {
  font-weight: 600;
}
.portfolio-body .portfolio-about .portfolio-middle {
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: .6px;
  line-height: 20px;
  font-weight: 300;
  color: #f1f2f2;
  background-color: #30566A;
}
@media (min-width: 768px) {
  .portfolio-body .portfolio-about .portfolio-middle {
    width: 30%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.portfolio-body .portfolio-about .portfolio-middle h5 {
  margin-top: 90px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .77px;
}
.portfolio-body .portfolio-about .portfolio-middle p {
  margin-top: 15px;
  margin-bottom: 20px;
}
.portfolio-body .portfolio-about .portfolio-right {
  padding-top: 20px;
  color: #30566A;
}
@media (min-width: 1200px) {
  .portfolio-body .portfolio-about .portfolio-right .portfolio-right-content {
    max-width: 65%;
  }
}
.portfolio-body .portfolio-about .portfolio-right .portfolio-right-content h5 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .77px;
}
.portfolio-body .portfolio-about .portfolio-right .portfolio-right-content p {
  margin-bottom: 40px;
}
.portfolio-body .portfolio-nav {
  padding-left: 24px;
  padding-right: 24px;
  background-color: #f1f2f2;
  border-bottom: 1px solid #D6D6D6;
}
.portfolio-body .portfolio-nav .btn {
  padding: 25px 6px 20px;
  font-size: 16px;
  font-weight: 600;
}
.portfolio-body .portfolio-nav .btn,
.portfolio-body .portfolio-nav .btn:hover,
.portfolio-body .portfolio-nav .btn:focus,
.portfolio-body .portfolio-nav .btn.focus,
.portfolio-body .portfolio-nav .btn:active,
.portfolio-body .portfolio-nav .btn.active {
  color: #30566A;
}
.portfolio-body .portfolio-nav .btn.active {
  color: #30769A;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.portfolio-body .portfolio-grid-wrapper {
  padding: 30px 15px 100px;
  border-bottom: 1px solid #d6d6d6;
  background-color: #f1f2f2;
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item {
  margin-bottom: 30px;
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item img {
  width: 100%;
  height: 100%;
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 15px;
  text-align: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer .btn {
  margin-top: 45%;
  color: #fff;
  background-color: transparent;
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer .btn:hover,
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer .btn:focus,
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer .btn.focus,
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer .btn:active,
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer .btn.active {
  opacity: .7;
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item:hover .hover-layer {
  opacity: 1;
}
.portfolio-body .form-portfolio {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
  border-bottom: 1px solid #D6D6D6;
  background-color: #f1f2f2;
}
.portfolio-body .form-portfolio h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #D6D6D6;
}
.portfolio-body .form-portfolio .form-control {
  color: #D6D6D6;
  border-color: #E8E8E8;
  background-color: #fafafa;
}
.portfolio-body .form-portfolio .form-control::-moz-placeholder {
  color: #D6D6D6;
}
.portfolio-body .form-portfolio .form-control:-ms-input-placeholder {
  color: #D6D6D6;
}
.portfolio-body .form-portfolio .form-control::-webkit-input-placeholder {
  color: #D6D6D6;
}
.portfolio-body .form-portfolio .form-control:focus {
  border-color: #bcc1c1;
}
.portfolio-body .form-portfolio .btn {
  font-weight: bold;
  color: #D6D6D6;
  border-color: #e8e8e8;
  background-color: #f6f7f7;
}
.portfolio-body .form-portfolio .btn:hover,
.portfolio-body .form-portfolio .btn:focus,
.portfolio-body .form-portfolio .btn.focus,
.portfolio-body .form-portfolio .btn:active,
.portfolio-body .form-portfolio .btn.active {
  background-color: #fdfdfd;
}
.portfolio-footer {
  padding: 30px 30px 20px;
  background-color: #f1f2f2;
}
.portfolio-footer a {
  color: #474747;
}
@media (min-width: 768px) {
  .portfolio-footer > .col-sm-6:last-child {
    text-align: right;
  }
}
