/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page portfolio 2
 *	--------------------------------------------------------
*/
.portfolio-wrapper {
  background-color: #fafafa;
}
.portfolio-header .portfolio-nav {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #f1f2f2;
}
.portfolio-header .portfolio-nav .btn {
  padding: 25px 6px 20px;
  font-size: 16px;
  font-weight: 600;
}
.portfolio-header .portfolio-nav .btn,
.portfolio-header .portfolio-nav .btn:hover,
.portfolio-header .portfolio-nav .btn:focus,
.portfolio-header .portfolio-nav .btn.focus,
.portfolio-header .portfolio-nav .btn:active,
.portfolio-header .portfolio-nav .btn.active {
  color: #aaa;
}
.portfolio-header .portfolio-nav .btn.active {
  color: #888;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.portfolio-body {
  padding-left: 30px;
  padding-right: 30px;
}
.portfolio-body .portfolio-grid-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item {
  margin-bottom: 30px;
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item img {
  width: 100%;
  height: 100%;
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 15px;
  text-align: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer .btn {
  margin-top: 45%;
  color: #fff;
  background-color: transparent;
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer .btn:hover,
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer .btn:focus,
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer .btn.focus,
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer .btn:active,
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer .btn.active {
  opacity: .7;
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item .hover-layer p {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #777;
  background-color: rgba(0, 0, 0, 0.2);
}
.portfolio-body .portfolio-grid-wrapper .portfolio-item:hover .hover-layer {
  opacity: 1;
}
.portfolio-body .btn-load {
  margin-bottom: 100px;
}
.portfolio-body .btn-load,
.portfolio-body .btn-load:hover,
.portfolio-body .btn-load:focus,
.portfolio-body .btn-load.focus,
.portfolio-body .btn-load:active,
.portfolio-body .btn-load.active {
  color: #aaa;
  border-color: #aaa;
}
.portfolio-footer {
  padding: 30px 30px 20px;
  border-top: 1px solid #f1f2f2;
}
.portfolio-footer a {
  color: #474747;
}
@media (min-width: 768px) {
  .portfolio-footer > .col-sm-6:last-child {
    text-align: right;
  }
}
