/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page todo
 *	--------------------------------------------------------
*/
.modal-header,
.modal-body {
  padding-left: 20px;
  padding-right: 20px;
  color: #999;
}
.modal-header {
  border-bottom-color: #e8e8e8;
  background-color: transparent;
}
.modal-header .modal-title {
  font-size: 16px;
  font-weight: 600;
}
.modal-task-details .modal-body .select2-container--bootstrap.select2-container--disabled .select2-search__field,
.modal-task-details .modal-body .select2-container--bootstrap.select2-container--disabled .select2-selection {
  cursor: default;
}
.modal-task-details .modal-body .comments-wrapper {
  color: #474747;
}
.modal-task-details .modal-body .comments-wrapper .media-object {
  width: 30px;
  height: 30px;
}
.content {
  background-color: #f9f9f9;
}
.content .panel {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.content .panel-heading,
.content .panel-body {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
}
.content .panel-heading:after {
  display: none;
}
.content .panel-body {
  margin-top: 10px;
  position: relative;
}
.content .col-todo-projects {
  margin-bottom: 50px;
}
.content .col-todo-projects .panel-heading .panel-title {
  font-size: 16px;
  font-weight: 600;
}
.content .col-todo-projects .panel-heading .panel-tools .btn {
  font-size: 12px;
  font-weight: 600;
}
.content .col-todo-projects .projects-wrapper label.btn {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.content .col-todo-projects .projects-wrapper label.btn.active > .panel-body {
  border-color: #42A5F5;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.content .col-todo-projects .projects-wrapper .panel-body {
  color: #999;
  border: 1px solid transparent;
}
.content .col-todo-projects .projects-wrapper .panel-body img {
  width: 55px;
  height: 48px;
  position: absolute;
  top: -1px;
  right: -1px;
}
.content .col-todo-projects .projects-wrapper .panel-body .lead {
  margin-bottom: 5px;
  font-weight: 400;
  color: #474747;
}
.content .col-todo-projects .projects-wrapper .panel-body span {
  font-size: 14px;
}
@media (min-width: 992px) {
  .content .col-todo-tasks {
    padding-left: 0;
  }
}
.content .col-todo-tasks .panel-heading .panel-title {
  font-size: 14px;
  font-weight: 600;
}
.content .col-todo-tasks .panel-heading .panel-tools .btn {
  font-size: 12px;
  font-weight: 600;
}
.content .col-todo-tasks .panel-body {
  display: table;
  width: 100%;
  cursor: pointer;
  border: 1px solid transparent;
}
.content .col-todo-tasks .panel-body:hover {
  border-color: #00bcd4;
}
.content .col-todo-tasks .panel-body .todo-description,
.content .col-todo-tasks .panel-body .todo-due-date {
  display: table-cell;
  vertical-align: middle;
}
.content .col-todo-tasks .panel-body .todo-description {
  width: 70%;
  color: #999;
}
.content .col-todo-tasks .panel-body .todo-description .lead {
  margin-top: -10px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #474747;
}
.content .col-todo-tasks .panel-body .todo-description .lead .label {
  vertical-align: top;
  font-size: 11px;
}
.content .col-todo-tasks .panel-body .todo-due-date {
  width: 30%;
  text-align: right;
}
.content .col-todo-tasks .panel-body .todo-due-date .btn {
  height: 35px;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.content .col-todo-tasks .panel-body:hover .todo-due-date .btn {
  opacity: 1;
}
