/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page register 3
 *	--------------------------------------------------------
*/
body {
  background: url(../img/login-bg.jpg) no-repeat 50% 70%;
  background-size: cover;
}
.register-wrapper {
  position: relative;
  max-width: 360px;
}
@media (max-width: 767px) {
  .register-wrapper {
    margin: 80px auto;
  }
}
@media (min-width: 768px) {
  .register-wrapper {
    width: 100%;
    float: right;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.register-wrapper .panel {
  margin-top: 25px;
  color: #f1f2f2;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.55);
}
.register-wrapper .panel-body {
  padding: 25px 30px 40px;
}
.register-wrapper .panel-body h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}
.register-wrapper .panel-body form .form-title {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.register-wrapper .panel-body form .form-control {
  box-shadow: inset 0px 1px 2px 0px #EFEFEF;
  -webkit-box-shadow: inset 0px 1px 2px 0px #EFEFEF;
}
.register-wrapper .panel-body form .btn {
  margin-top: 40px;
  font-weight: 600;
}
.register-wrapper .panel-footer {
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}
.register-wrapper .panel-footer a {
  color: #f1f2f2;
}
