/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page login 2
 *	--------------------------------------------------------
*/
html,
body {
  min-height: 100%;
}
body {
  background: url(../assets/img/login-bg-blur.jpg) no-repeat;
  background-size: cover;
}
/* Forgot password modal */
.modal-dialog {
  max-width: 360px;
}
@media (max-width: 767px) {
  .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.modal-dialog .modal-content {
  border: 1px solid #D6D6D6;
  border-radius: 6px;
}
.modal-dialog .modal-content .modal-body {
  padding: 25px 30px 30px;
}
.modal-dialog .modal-content .modal-body h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
}
.modal-dialog .modal-content .modal-body form .form-control {
  margin-bottom: 25px;
  border-radius: 4px;
  box-shadow: inset 0px 1px 2px 0px #E2E2E2;
  -webkit-box-shadow: inset 0px 1px 2px 0px #E2E2E2;
}
.modal-dialog .modal-content .modal-body form .form-control::-moz-placeholder {
  color: #999;
}
.modal-dialog .modal-content .modal-body form .form-control:-ms-input-placeholder {
  color: #999;
}
.modal-dialog .modal-content .modal-body form .form-control::-webkit-input-placeholder {
  color: #999;
}
.modal-dialog .modal-content .modal-body form .btn-wrapper span {
  display: table-cell;
  width: 1%;
}
.modal-dialog .modal-content .modal-body form .btn-wrapper span:first-child {
  padding-right: 5px;
}
.login-wrapper {
  max-width: 360px;
  margin: 80px auto;
}
.login-wrapper .panel {
  margin-top: 25px;
  border-color: #e2e2e2;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 3px 0 #B6BCBF;
  -webkit-box-shadow: 0 1px 3px 0 #B6BCBF;
}
.login-wrapper .panel-body {
  padding: 25px 30px 40px;
}
.login-wrapper .panel-body h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}
.login-wrapper .panel-body form .form-control {
  box-shadow: inset 0px 1px 2px 0px #EFEFEF;
  -webkit-box-shadow: inset 0px 1px 2px 0px #EFEFEF;
}
.login-wrapper .panel-body form .btn {
  margin-top: 15px;
  font-weight: 600;
}
.login-wrapper .panel-footer {
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #e2e2e2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: transparent;
}
.login-wrapper .panel-footer a {
  color: #42A5F5;
}
