/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Panel / .panel
 *	2.	Panel Card / .panel-card
 *	3.	Panel Chart / .panel-chart
 *	4.	Panel Country Sales / .panel-country-sales
 *	5.	Panel Visits / .panel-visits
 *	6.	Panel Activity Monitor / .panel-activity-monitor
 *	7.	Panel Events / .panel-events
 *	8.	Panel Lead Staff / .panel-lead-staff
 *	9.	Panel Chat / .panel-chat
 *	10.	Panel Card Stat / .panel-card-stat
 *	11.	Panel Calendar / .panel-calendar
 *	12.	Panel Tasks / .panel-tasks
 *	13.	Panel Chart Users / .panel-chart-users
 *	14.	Panel Other Stats / .panel-other-stats
 *	--------------------------------------------------------
*/
body.page-dashboard .content .panel {
  /*
	 *	--------------------------------------------------------
	 *	1.	Panel / .panel
	 *	--------------------------------------------------------
	*/
  margin-bottom: 30px;
}
body.page-dashboard .content .panel-body .row-filter {
  /* Row filter is top section of .panel-body which includes button dropdown and search */
  margin-bottom: 15px;
}
body.page-dashboard .content .panel-body .row-filter .col-item-search {
  text-align: right;
}
body.page-dashboard .content .panel-placeholder {
  /* Jquery UI placeholder */
  border: 2px dashed #ddd;
}
body.page-dashboard .content .panel-footer {
  text-align: right;
  background-color: transparent;
}
body.page-dashboard .content .panel-footer .fa {
  margin-left: 5px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  body.page-dashboard .content .table-responsive {
    border: none;
  }
}
@media (max-width: 991px) {
  body.page-dashboard .content .dataTables_filter {
    /* Datatables*/
    text-align: right;
  }
}
@media (min-width: 1200px) {
  body.page-dashboard .content .panel-card {
    /*
		 *	--------------------------------------------------------
		 *	2.	Panel Card / .panel-card
		 *	--------------------------------------------------------
		*/
    margin-bottom: 15px;
  }
}
body.page-dashboard .content .panel-card .panel-heading {
  color: #888;
}
body.page-dashboard .content .panel-card .panel-body {
  color: #888;
  position: relative;
}
body.page-dashboard .content .panel-card .panel-body h2 {
  margin-bottom: 5px;
  font-size: 26px;
}
body.page-dashboard .content .panel-card .panel-body i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 64px;
  color: #F3F5F9;
}
body.page-dashboard .content .panel-chart .panel-body .chart-heading {
  /*
		 *	--------------------------------------------------------
		 *	3.	Panel Chart / .panel-chart
		 *	--------------------------------------------------------
		*/
  color: #888;
}
body.page-dashboard .content .panel-chart .panel-body .chart-body {
  /* Chart content */
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: -8px;
}
body.page-dashboard .content .panel-country-sales .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	4.	Panel Country Sales / .panel-country-sales
		 *	--------------------------------------------------------
		*/
  padding-bottom: 0;
}
@media (max-width: 991px) {
  body.page-dashboard .content .panel-country-sales .panel-body .nav-tabs {
    border-bottom: 1px solid #e4e6e6;
  }
  body.page-dashboard .content .panel-country-sales .panel-body .nav-tabs > li {
    float: left;
  }
  body.page-dashboard .content .panel-country-sales .panel-body .nav-tabs > li + li {
    padding-top: 0;
  }
  body.page-dashboard .content .panel-country-sales .panel-body .nav-tabs > li > a {
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  body.page-dashboard .content .panel-country-sales .panel-body .nav-tabs > li > a:hover,
  body.page-dashboard .content .panel-country-sales .panel-body .nav-tabs > li > a:focus {
    border-bottom-color: #e4e6e6;
  }
  body.page-dashboard .content .panel-country-sales .panel-body .nav-tabs > li.active > a,
  body.page-dashboard .content .panel-country-sales .panel-body .nav-tabs > li.active > a:hover,
  body.page-dashboard .content .panel-country-sales .panel-body .nav-tabs > li.active > a:focus {
    border-right-color: #e4e6e6;
    border-bottom-color: #fff;
  }
  body.page-dashboard .content .panel-country-sales .panel-body .nav-tabs.rounded > li > a {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
  }
}
body.page-dashboard .content .panel-country-sales .panel-body .table {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-country-sales .panel-body .table > thead > tr > th:first-child,
body.page-dashboard .content .panel-country-sales .panel-body .table > tbody > tr > td:first-child {
  min-width: 100px;
  padding-left: 0;
}
body.page-dashboard .content .panel-country-sales .panel-body .table > tbody > tr > td .flag {
  width: 24px;
  height: 16px;
  top: -2px;
  margin-right: 5px;
  background-size: cover;
}
body.page-dashboard .content .panel-country-sales .panel-body .country-sales-footer {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #999;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .panel-country-sales .panel-body .country-sales-footer:before,
body.page-dashboard .content .panel-country-sales .panel-body .country-sales-footer:after {
  content: "";
  display: table;
}
body.page-dashboard .content .panel-country-sales .panel-body .country-sales-footer:after {
  clear: both;
}
@media (max-width: 767px) {
  body.page-dashboard .content .panel-country-sales .panel-body .country-sales-footer .col-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body.page-dashboard .content .panel-country-sales .panel-body .country-sales-footer .col-item small {
  display: block;
  margin-bottom: 3px;
  font-weight: 600;
}
@media (min-width: 480px) {
  body.page-dashboard .content .panel-country-sales .panel-body .country-sales-footer .col-item span {
    font-size: 16px;
  }
}
body.page-dashboard .content .panel-visits .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	5.	Panel Visits / .panel-visits
		 *	--------------------------------------------------------
		*/
  padding-top: 0;
}
body.page-dashboard .content .panel-visits .panel-body .table > tbody > tr > td {
  padding-top: 23px;
  padding-bottom: 23px;
}
body.page-dashboard .content .panel-visits .panel-body .table > tbody > tr > td:first-child {
  padding-left: 0;
}
body.page-dashboard .content .panel-visits .panel-body .table > tbody > tr > td:last-child {
  padding-right: 0;
  text-align: right;
}
body.page-dashboard .content .panel-visits .panel-body .table > tbody > tr > td .lead {
  margin-top: 10px;
  margin-bottom: 0;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	6.	Panel Activity Monitor / .panel-activity-monitor
		 *	--------------------------------------------------------
		*/
  max-height: 285px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 0;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-left .label {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-left .label i {
  vertical-align: middle;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-body,
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-right {
  vertical-align: middle;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .panel-events .dt-bootstrap {
  /*
		 *	--------------------------------------------------------
		 *	7.	Panel Events / .panel-events
		 *	--------------------------------------------------------
		*/
  margin-top: -35px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > thead > tr > th {
  border-bottom: none;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr:first-child > td {
  border-top: none;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td {
  position: relative;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td.details-control {
  padding-left: 32px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td.details-control:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td.details-control .block {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child {
  padding-right: 0;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .btn {
  float: right;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td {
  vertical-align: top;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td:last-child {
  padding-right: 15px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td .label {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr.shown + tr > td {
  /* When dropdown table is shown */
  padding-left: 0;
}
body.page-dashboard .content .panel-lead-staff .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	8.	Panel Lead Staff / .panel-lead-staff
		 *	--------------------------------------------------------
		*/
  padding-bottom: 0;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap {
  margin-top: -38px;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > thead > tr > th:first-child,
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td:first-child {
  padding-left: 0;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > thead > tr > th:last-child,
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td:last-child {
  padding-right: 0;
  text-align: right;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td .img-wrapper {
  display: table;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td .img-wrapper img {
  display: table-cell;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td .img-wrapper span {
  display: table-cell;
  vertical-align: middle;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	9.	Panel Chat / .panel-chat
		 *	--------------------------------------------------------
		*/
  max-height: 400px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media + .media {
  margin-top: 20px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-left {
  padding-top: 25px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .time {
  font-size: 11px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .message {
  margin-top: 8px;
  padding: 8px 10px 10px;
  border-radius: 4px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .message strong {
  font-style: italic;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .message strong + p {
  margin-top: 8px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .message p {
  margin-bottom: 0;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media-incoming-message .message {
  border: 1px solid #EFEFF3;
  background-color: #F9F9FA;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media-my-message .message {
  border: 1px solid #D8D8E3;
  background-color: #EFEFF8;
}
body.page-dashboard .content .panel-chat .panel-body form {
  margin: 10px -15px -15px;
  border-top: 1px solid #EEF0F0;
}
body.page-dashboard .content .panel-chat .panel-body form .form-control {
  font-size: 13px;
  border-top: none;
  border-right-color: #EEF0F0;
  border-bottom: none;
  border-left: none;
}
body.page-dashboard .content .panel-chat .panel-body form .form-control:focus {
  border-right-color: #EEF0F0;
}
body.page-dashboard .content .panel-card-stat .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	10.	Panel Card Stat / .panel-card-stat
		 *	--------------------------------------------------------
		*/
  padding-top: 15px;
}
body.page-dashboard .content .panel-card-stat .panel-body strong {
  font-weight: 700;
  font-size: 12px;
}
body.page-dashboard .content .panel-card-stat .panel-body h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-calendar .fc-toolbar h2 {
  /*
		 *	--------------------------------------------------------
		 *	11.	Panel Calendar / .panel-calendar
		 *	--------------------------------------------------------
		*/
  font-size: 15px;
}
body.page-dashboard .content .panel-tasks .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	12.	Panel Tasks / .panel-tasks
		 *	--------------------------------------------------------
		*/
  padding-bottom: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap {
  margin-top: -38px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:first-child,
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:first-child {
  width: 35px;
  min-width: 35px;
  padding-left: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:last-child,
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:last-child {
  width: 50px;
  padding-right: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td.details-control:before {
  margin-right: 0;
  position: relative;
  top: -1px;
  left: 32px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .icheckbox_minimal-grey {
  position: relative;
  left: -16px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .btn-group .btn {
  width: 25px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .table > tbody > tr > td:first-child {
  padding-left: 15px;
}
body.page-dashboard .content .panel-chart-users .chart-body {
  /*
		 *	--------------------------------------------------------
		 *	13.	Panel Chart Users / .panel-chart-users
		 *	--------------------------------------------------------
		*/
  height: 200px;
  margin-top: 45px;
  margin-right: -15px;
}
body.page-dashboard .content .panel-chart-users .chart-body .flot-text .flot-x-axis {
  text-transform: uppercase;
}
body.page-dashboard .content .panel-chart-users .chart-body .legend table {
  margin-top: -60px;
}
body.page-dashboard .content .panel-chart-users .chart-body .legend table .legendLabel {
  font-size: 11px;
}
body.page-dashboard .content .panel-other-stats .chart-body {
  /*
		 *	--------------------------------------------------------
		 *	14.	Panel Other Stats / .panel-other-stats
		 *	--------------------------------------------------------
		*/
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1199px) {
  body.page-dashboard .content .panel-other-stats .chart-body {
    margin-left: -15px;
    margin-right: -15px;
  }
}
body.page-dashboard .content .panel-other-stats .chart-body .chart-title {
  height: 38px;
}
body.page-dashboard .content .panel-other-stats .chart-body .easy-pie-chart {
  display: block;
}
body.page-dashboard .content .panel-other-stats .chart-body .easy-pie-chart .percent {
  color: #ff5252;
}
