/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page error 2
 *	--------------------------------------------------------
*/
.error-wrapper {
  max-width: 510px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (min-width: 768px) {
  .error-wrapper {
    margin-top: 150px;
  }
}
.error-wrapper .error-status {
  display: inline-block;
  width: 95px;
  height: 80px;
  font-size: 40px;
  line-height: 77px;
  color: #999;
  border: 1px solid #DEDEDE;
  border-radius: 6px;
  background: #FDFDFD;
  background: -moz-linear-gradient(top, #FDFDFD 0%, #eee 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #eee)) no-repeat;
  background: -webkit-linear-gradient(top, #FDFDFD 0%, #eee 100%) no-repeat;
  background: -o-linear-gradient(top, #FDFDFD 0%, #eee 100%) no-repeat;
  background: -ms-linear-gradient(top, #FDFDFD 0%, #eee 100%) no-repeat;
  background: linear-gradient(to bottom, #FDFDFD 0%, #eee 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#eee', GradientType=0);
}
.error-wrapper h1 {
  font-size: 48px;
  font-weight: 400;
  position: relative;
}
.error-wrapper h1:after {
  content: "";
  display: block;
  width: 43px;
  height: 3px;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  background-color: #999;
}
.error-wrapper form a.btn {
  font-size: 12px;
  font-weight: 600;
  line-height: 200%;
}
@media (min-width: 768px) {
  .error-wrapper form .form-group {
    width: 50%;
    float: left;
  }
  .error-wrapper form .form-group a.btn {
    margin-left: 6px;
  }
}
