/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page contact
 *	--------------------------------------------------------
*/
.contact-header {
  position: relative;
  height: 520px;
  background: url("../img/contact.png") no-repeat;
  background-size: cover;
}
.contact-header .contact-info-box {
  max-width: 400px;
  padding: 5px 30px 20px 30px;
  line-height: 1.7;
  font-size: 16px;
  position: absolute;
  top: 35%;
  left: 130px;
  color: #B9C2D4;
  border: 1px solid #7F93B3;
  background-color: rgba(44, 57, 82, 0.85);
}
.contact-header .contact-info-box:before,
.contact-header .contact-info-box:after {
  content: "";
  display: table;
}
.contact-header .contact-info-box:after {
  clear: both;
}
@media (max-width: 767px) {
  .contact-header .contact-info-box {
    margin-left: 15px;
    margin-right: 15px;
    left: 0;
    right: 0;
  }
}
.contact-header .contact-info-box h2 {
  font-weight: 600;
  font-style: italic;
}
.contact-header .contact-info-box .address-left,
.contact-header .contact-info-box .address-right {
  display: table-cell;
  width: 50%;
  font-style: italic;
}
@media (max-width: 767px) {
  .contact-header .contact-info-box .address-left,
  .contact-header .contact-info-box .address-right {
    display: block;
    width: 100%;
  }
}
.contact-header .contact-info-box .address-right {
  vertical-align: bottom;
}
@media (max-width: 768px) {
  .contact-header .contact-info-box .address-right {
    float: right;
  }
}
.contact-body h2 {
  font-style: italic;
}
@media (min-width: 768px) {
  .contact-body .form-group-combine {
    position: relative;
    margin-right: 30px;
  }
  .contact-body .form-group-combine:after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -30px;
    background-color: #e4e6e6;
  }
}
.contact-body .iframe-maps {
  width: 100%;
  height: 360px;
  border: none;
}
.contact-body .contact-details .social-icon {
  font-size: 30px;
  color: #d6d6d6;
  vertical-align: middle;
}
.contact-body .contact-details .contact-description {
  padding-top: 4px;
  font-size: 14px;
  vertical-align: middle;
}
.contact-footer {
  margin-top: 60px;
  margin-bottom: 30px;
}
.contact-footer a {
  color: #474747;
}
@media (min-width: 768px) {
  .contact-footer > .col-sm-6:last-child {
    text-align: right;
  }
}
