/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page profile edit
 *	--------------------------------------------------------
*/
/* Left part */
.profile-heading {
  padding-top: 30px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  color: #444;
  border: 1px solid #D6D6D6;
  background: #f6f6f6;
  background: -moz-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e8e8e8)) no-repeat;
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%) no-repeat;
  background: -o-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%) no-repeat;
  background: -ms-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%) no-repeat;
  background: linear-gradient(to bottom, #f6f6f6 0%, #e8e8e8 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e8e8e8', GradientType=0);
  box-shadow: 0 2px 3px #ddd;
  -webkit-box-shadow: 0 2px 3px #ddd;
}
.profile-heading img {
  max-width: 100%;
  border: 4px solid #d2d2d2;
}
.profile-heading .lead {
  font-weight: 600;
}
.profile-heading strong {
  position: relative;
}
.profile-heading strong:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #999;
}
.profile-heading address {
  line-height: 22px;
  margin-bottom: 0;
}
.profile-heading .btn-group {
  top: 20px;
  border: 1px solid #D6D6D6;
  border-radius: 25px;
  box-shadow: 0 2px 5px #ddd;
  -webkit-box-shadow: 0 2px 5px #ddd;
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eee)) no-repeat;
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: -o-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: -ms-linear-gradient(top, #fdfdfd 0%, #eee 100%) no-repeat;
  background: linear-gradient(to bottom, #fdfdfd 0%, #eee 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eee', GradientType=0);
}
.profile-heading .btn-group .btn {
  padding: 4px 15px;
  margin-bottom: 0;
  color: #AFAFAF;
  background-color: transparent;
}
.profile-heading .btn-group .btn.active,
.profile-heading .btn-group .btn:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.profile-heading .btn-group .btn + .btn:not(:last-child):before,
.profile-heading .btn-group .btn + .btn:not(:last-child):after {
  content: "";
  width: 1px;
  height: 12px;
  position: absolute;
  top: 8px;
  background-color: #AFAFAF;
}
.profile-heading .btn-group .btn + .btn:not(:last-child):before {
  left: 0;
}
.profile-heading .btn-group .btn + .btn:not(:last-child):after {
  right: 0;
}
.profile-body {
  padding: 35px 15px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px #ddd;
  -webkit-box-shadow: 0 1px 3px #ddd;
}
.profile-body .lead {
  font-weight: 400;
  color: #81CAF8;
}
.profile-body li {
  margin-left: -15px;
  margin-right: -15px;
  padding: 7px 25px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
.profile-body li.active {
  background-color: #fcfcfc;
}
.profile-body li a {
  color: inherit;
}
.tab-pane .table > tbody > tr > td {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tab-pane .table > tbody > tr > td:first-child {
  padding-left: 0;
}
