/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page faq
 *	--------------------------------------------------------
*/
.faq-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 767px) {
  .faq-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.faq-header {
  padding: 50px;
  border: 1px solid #f1f2f2;
  border-radius: 6px;
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #f9f9f9 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f9f9f9)) no-repeat;
  background: -webkit-linear-gradient(top, #fefefe 0%, #f9f9f9 100%) no-repeat;
  background: -o-linear-gradient(top, #fefefe 0%, #f9f9f9 100%) no-repeat;
  background: -ms-linear-gradient(top, #fefefe 0%, #f9f9f9 100%) no-repeat;
  background: linear-gradient(to bottom, #fefefe 0%, #f9f9f9 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f9f9f9', GradientType=0);
  box-shadow: 0 4px 0 #f1f2f2;
  -webkit-box-shadow: 0 4px 0 #f1f2f2;
}
@media (max-width: 767px) {
  .faq-header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.faq-header .input-group {
  width: 100%;
}
.faq-header .input-group .form-control,
.faq-header .input-group .input-group-btn .btn {
  height: 40px;
}
.faq-header .input-group .input-group-btn {
  width: 250px;
}
@media (max-width: 767px) {
  .faq-header .input-group .input-group-btn {
    width: 100px;
  }
}
.faq-header .input-group .input-group-btn .btn {
  width: 100%;
  font-weight: bold;
}
@media (max-width: 767px) {
  .faq-body h2 {
    font-size: 20px;
  }
}
.faq-body .panel-group {
  padding: 8px 10px;
  border-radius: 6px;
}
.faq-body .panel-group .panel-heading {
  font-size: 15px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .faq-body .panel-group .panel-heading {
    font-size: 14px;
  }
}
.faq-body .panel-group .panel-heading a:after {
  content: "\f067";
  position: absolute;
  right: 15px;
  font-family: 'FontAwesome';
  font-weight: 400;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.faq-body .panel-group .panel-heading a[aria-expanded="true"]:after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.faq-body .panel-group .panel:last-child .panel-heading:after {
  display: none;
}
