body{
	font-family:vedana;   
	background-color:#E7A701;   /*Hexa code einer gemischten Farbe aus RGB*/
	background-image:url(Materialien/jhin.jpg);
	font-size:25px;	
	color:black;
	
	
	
}


h1{
	color:red;
	border:5px solid red;
	text-align: center;
	
	}
	
#ad{
	position:fixed;	
	top:70px;
	left:-30px;
	background-color:white;
	
}


h2{        
	text-decoration:overline;
	color:green; 
	text-align:right;
}


p{
	background-color:yellow;
	padding:5px;
	border-color:black;
	border-width:2px;
	border-style:solid;
	margin:40px;
	border-radius:10px;
	
}


p.k{
	background-color:blue;
}


.bold{
	font-weight: bold;
}


.blue{
	color:blue;
}


.imagec {
	display: block;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	border:2px;
	border-style:dashed;
	border-color:black;
	background-color:brown;
	
}


div{
color:pink;

}


.l{ /* Der Span*/
	background-color:red;
	
}


ul{
	list-style-type:none;
	padding:0;
	
	
}

ul li a{
	text-decoration:none;
	font-family:Georgia;
	background-color:#5c755e;
	display:inline-block;
	width:130px;
	margin:10px;
	padding:10px;
	border:1px solid red;
	border-radius:2px;
	text-align:center;
	height:25px;
	line-height:25px;
	
	

}

ul li{
	display:inline;
	
	
}


#Form{
background-color: #5c755e;
display:table;
padding:15px;
border: solid 2px black;

}


.row{
	display: table-row;

}

.row label{
	display:table-cell;
	text-align: right;
	padding: 2px;
	
}

.row input{
	display: table-cell;
	padding: 2px;
}


















a:link{
	color:blue;
	
}
a:visited{
	color:#32CD32;
	
}
a:hover{
	color:orange;
	background-color:#d3d3d3;
	
}

